{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}
{% block body %}
    <div class="row">
		<div class="col-12 bg-white">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0 p-2">
						<li class="breadcrumb-item">
							<a href="{{ path('accueil') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Conversation</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
    <div class="container mt-3">
        {% if not destinataire %}
            <div class="text-center p-3 my-4">
                <i class="py-4 fas fa-5x fa-comments"></i>
                <h1>Oups ! Il semblerait que vous n'avez pas démarré de conversation</h1>
                <p class="lead">Démarrez une conversation en vous rendant sur une annonce</p>
            </div>
        {% endif %}
        {% if destinataire %}
        <h1>Conversations ({{ cpt }} non lue{% if cpt > 1 %}s{% endif %})</h1>
        <div class="card">
            <div class="card-body">
                {% for dest in destinataire | sort((a, b) => b.message.date_creation <=> a.message.date_creation) %}
                <a href="{{ path('message', {'id': dest.id}) }}" style="color: inherit;">
                    <div class="row p-3 text-center {% if dest.message.isReceipt or dest.message.compte.id == app.user.id %}bg-light{% endif %}">
                        <div class="col-2">
                            {{ dest.pseudo }}
                        </div>
                        <div class="col border-start border-end border-light border-2 overflow-text">{{ dest.message.contenu }}</div>
                        <div class="col-3">
                            {{ dest.message.date_creation | date('d/m à H:i') }}
                        </div>
                    </div>
                </a>
                {% if loop.index == destinataire | length - 1 %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    
{% endblock %}