{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-12 bg-white">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0 p-2">
						<li class="breadcrumb-item">
							<a href="{{ path('accueil') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Connexion</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
 
    <div class="container mt-3">   
  
    

        <div class="row">
            <div class="col-5">
                <form method="post" name="connexion">
             
                        <h1 class="h3 mb-3 font-weight-normal"><i class="fas fa-angle-double-down text-dark  fa-lg me-1"></i>Se connecter</h1>
                        <br>   
                        {% if error %}
                            <div class="alert alert-danger">{{error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <input type="email"  name="email" id="inputEmail" class="form-control rounded-3" placeholder="E-mail" required autofocus>
                        <br>
                        <input type="password" name="password" id="inputPassword" class="form-control rounded-3" placeholder="Mot de passe" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <br>
                        <p class="text-center text-muted" id="mdpOublie">Mot de passe oublié ?
                        <span class="badge bg-secondary"><i class="fas fa-exclamation-triangle"></i> Bientot disponible</span>
                        </p>
                        <div class="row d-flex mt-3">
                        <button class="btn" type="submit" name="connexion"  style="background-color: #009C9F; color:white">Connexion</button>
                        </div>
        
                        
                </form>
            </div>
            <div class="col-2"></div>
                <div class="col-5">    
                    <h1 class="h3 mb-3 font-weight-normal"><i class="fas fa-angle-double-up  fa-lg me-1"  style="color:#009C9F;"></i>Pas encore inscrit ?</h1>
                        
                        {{ form_start(registrationForm) }}
                        <br>
                        {{ form_row(registrationForm.email,{'label':false, 'attr': {'class': 'form-control rounded-3'}}) }}
                        <br>
                        *Attention, votre pseudo ne sera pas modifiable
                        {{ form_row(registrationForm.pseudo, {'label':false, 'attr': {'class': 'form-control rounded-3'}}) }}
                        <br>
                        {{ form_row(registrationForm.password.first, {'label':false,'attr': {'class': 'form-control rounded-3'}}) }}
                        <br>
                        {{ form_row(registrationForm.password.second, {'label':false,'attr': {'class': 'form-control rounded-3'}}) }}
                        <br>
                        <div class="form-check form-switch conditionG">
                            <input class="form-check-input" type="checkbox" name="cgv" id="flexSwitchCheckChecked" required value="cgv" />
                           <small><label class="checkBox form-check-label " for="flexSwitchCheckChecked">En validant, vous acceptez les Conditions générales de vente de Re-Tech. Veuillez consulter notre <a href="{{ path('mentions') }}#cgv">Notice Protection de vos informations personnelles, notre Notice Cookies</a> et notre <a href="{{ path('faq') }}">FAQ</a>.</label></small> 
                        </div>
                        <br>
                        <div class="row d-flex mt-3">
                            <button class="btn " type="submit"  name="inscription" href="{{ path('app_register')}}"  style="background-color: #009C9F; color:white">Inscription</button>     
                        </div>
                        {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    <div>
<div>
{% endblock %}