{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                
                    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                    <br>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
                    <br>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <br>
                    <button class="btn btn-outline-success" type="submit"> 
                        Connexion
                    </button>
            </form>
        </div>
         <div class="col-1"></div>
        <div class="col-5">    
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                    <h1 class="h3 mb-3 font-weight-normal">Pas encore client ?</h1>
                    <br>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"  placeholder="Email" required autofocus>
                    <br>
                    <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="Mot de passe"required>
                    <br>
                    <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="Confirmez votre mot de passe"equired>
                    <br>
                    <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="Pseudo" required>
                    <br>
                    <button class="btn btn-outline-success" type="submit"> 
                        S'inscrire
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}