{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-5">
            <form method="post" name="connexion">
                  
                    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                    <br>
                    <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
                    <br>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <br>
                    <input class="btn btn-outline-success" type="submit" name="connexion"> 
                        Connexion
                    
            </form>
        </div>
            <div class="col-5">    
                <h1 class="h3 mb-3 font-weight-normal">Pas encore inscrit ?</h1>
                    <br>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.pseudo) }}
                    {{ form_row(registrationForm.password) }}
                    <input class="btn btn-outline-success" type="submit" name="inscription" href="{{ path('app_register')}}">     
                    {{ form_end(registrationForm) }}
            <div>
    </div>
<div>
 

{% endblock %}