{% extends 'base.html.twig' %}
{% set iDontKnow = annonce | json_encode %}
{% set wishlistIdAnnonce = [] %}
{% for wish in wishlist %}
	{% set wishlistIdAnnonce = wishlistIdAnnonce|merge([wish.id_annonce.id]) %}
{% endfor %}

{% block title %}Annonce
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 bg-white">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0 p-2">
						<li class="breadcrumb-item">
							<a href="{{ path('accueil') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('annonces') }}">Annonces</a>
						</li>
						<li class="breadcrumb-item active">{{ annonce.titre }}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="container p-3 my-4">
		<div class="card annonce ribbon-box">
			<div class="row p-4 pb-0">
				<div class="col col-lg-6 card-body">
					{% if annonce.annonce_payante %}
					<div class="ribbon-two ribbon-two-info"><span>Boostée</span></div>
					{% endif %}
					<div id="carouselAnnonceImages" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							{% for image in annonce.images %}
								{% if loop.first %}
									<button type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide-to="{{ loop.index - 1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
								{% else %}
									<button type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide-to="{{ loop.index - 1 }}" aria-label="Slide {{ loop.index }}"></button>
								{% endif %}
							{% endfor %}
						</div>
						<div class="carousel-inner rounded">
							{% for image in annonce.images %}
								{% if loop.first %}
									<div class="carousel-item product-image active">
										<img src="{{ asset('/uploads/'~image.nom) }}" class="d-block w-100" alt="Image numéro {{ loop.index + 1 }} de l'article {{ annonce.titre }}"/>
									</div>
								{% else %}
									<div class="carousel-item product-image">
										<img src="{{ asset('/uploads/'~image.nom) }}" class="d-block w-100" alt="Image numéro {{ loop.index + 1 }} de l'article {{ annonce.titre }}"/>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
				<div class="col col-lg-6 position-relative">
					<h1>Vendu par {{ annonce.id_compte.pseudo }}</h1>
					<p class="text-muted lead">{{ annonce.id_compte.description }}</p>
					<div class="d-flex justify-content-center">
						<div class="fix-responsive d-flex bottom-0 position-absolute">

							<a type="button" class="btn bttn left bg-retech text-white" href="{{path('transaction_new', {id:annonce.id})}}">
								<label class="fs-4">Réserver</label>
								<i class="fas fa-check"></i>
							</a>
							<button type="button" class="btn bttn right bg-retech text-white send-message" {% if app.user and annonce.id_compte.id == app.user.id %}disabled="disabled"{% endif %}>
								<label class="fs-4">Message</label>
								<i class="fas fa-comments"></i>
							</button>
						</div>
					</div>
				</div>
					
			</div>
			<div class="row px-5 p-4">
				<div class="row d-flex justify-content-between align-items-center">
					<div class="col-12 col-lg-6 d-flex">
						<h1>{{ annonce.titre }}</h1>
						{% if app.user and annonce.id_compte.id != app.user.id %}
							<span class="mt-1 ms-3" data-id="{{ annonce.id }}">
							{% if annonce.id in wishlistIdAnnonce %}
								<i class="fas fa-3x fa-heart"></i>
							{% else %}
								<i class="far fa-3x fa-heart"></i>
							{% endif %}
						{% endif %}
						</span>
					</div>
					<h1 class="col-12 col-lg-6 price text-end display-3">
						<strong>{{ annonce.prix }}&euro;</strong>
					</h1>
				</div>
				<div class="row">
					<h3>Description</h3>
					<p class="text-muted lead">{{ annonce.description }}</p>
				</div>
			</div>
		</div>
	</div>
	{% include "slider.html.twig" with {'annonces': annonces, 'wishlist': wishlist} %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/wishlist.js') }}"></script>
	<script src="{{ asset('js/jquery.redirect.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var block = false;
			$('body').on('click', '.annonce .fa-heart', function(){
				if(block) return;
				block = !block;
                toggleWishlist('{{ path('wishlist_toggler') }}', $(this))
				setTimeout(() => {
					block = !block;
				}, 1000);
            });

			function fixResponsive() {
				if (window.innerWidth < 992) {
					$('.fix-responsive').removeClass('position-absolute')
				} else {
					$('.fix-responsive').addClass('position-absolute')
				}
			}
			$(window).on('resize', () => {
				fixResponsive()
			})
			fixResponsive()
			
			$('.send-message').on('click', function(){
				{% if app.user %}
					{% if annonce.id_compte.id != app.user.id %}
						$.redirect('{{ path('message_check_conversation') }}', {idAnnonce: {{ annonce.id }}}, "POST", "_blank");
					{% else %}
						alert('Vous ne pouvez pas vous envoyer un message');
					{% endif %}
				{% else %}
					alert('Vous devez vous connecter pour envoyer un message');
				{% endif %}
			});
        });
    </script>
{% endblock %}
