{% extends 'base.html.twig' %}
{% set iDontKnow = annonce | json_encode %}
{% set wishlistIdAnnonce = [] %}
{% for wish in wishlist %}
	{% set wishlistIdAnnonce = wishlistIdAnnonce|merge([wish.id_annonce.id]) %}
{% endfor %}

{% block title %}Annonce: {{ annonce.titre }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 bg-white">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0 p-2">
						<li class="breadcrumb-item">
							<a href="{{ path('accueil') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('annonces') }}">Annonces</a>
						</li>
						<li class="breadcrumb-item active">{{ annonce.titre }}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="container p-3 my-4">
		<div class="card annonce ribbon-box">
			<div class="row p-4 pb-0">
				<div class="col col-lg-6 card-body">
					{% if annonce.annonce_payante %}
					<div class="ribbon-two ribbon-two-info"><span>Boostée</span></div>
					{% endif %}
					<div id="carouselAnnonceImages" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							{% for image in annonce.images %}
								{% if loop.first %}
									<button type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide-to="{{ loop.index - 1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
								{% else %}
									<button type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide-to="{{ loop.index - 1 }}" aria-label="Slide {{ loop.index }}"></button>
								{% endif %}
							{% endfor %}
						</div>
						<div class="carousel-inner rounded">
							{% for image in annonce.images %}
								{% if loop.first %}
									<div class="carousel-item product-image active">
										<img src="{{ asset('/uploads/'~image.nom) }}" class="d-block w-100" alt="Image numéro {{ loop.index + 1 }} de l'article {{ annonce.titre }}"/>
									</div>
								{% else %}
									<div class="carousel-item product-image">
										<img src="{{ asset('/uploads/'~image.nom) }}" class="d-block w-100" alt="Image numéro {{ loop.index + 1 }} de l'article {{ annonce.titre }}"/>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselAnnonceImages" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
				<div class="col col-lg-6 position-relative">
					<h1>Vendu par {{ annonce.id_compte.pseudo }}</h1>
					<p class="text-muted lead">{{ annonce.id_compte.description }}</p>
					<div class="d-flex justify-content-center">
						<div class="fix-responsive d-flex bottom-0 position-absolute">

							{# <a type="button" class="btn bttn left bg-retech text-white" href="{{path('transaction_new', {id:annonce.id})}}">
								<label class="fs-4">Acheter</label>
								<i class="fas fa-check"></i>
							</a> #}
							{% if app.user and annonce.id_compte.id != app.user.id %}
								<button type="button" class="btn bttn left bg-retech text-white cursor-pointer" {% if annonce.actif == 0 %}disabled="disabled"{% endif %} {% if annonce.actif == 1 %}data-bs-toggle="modal" data-bs-target="#paiementAnnonce"{% endif %}>
									<label class="fs-4 cursor-pointer">{% if annonce.actif == 1 %}Acheter{% else %}Déjà vendu{% endif %}</label>
									<i class="fas fa-check"></i>
								</button>
								<button type="button" class="btn bttn right bg-retech text-white send-message">
									<label class="fs-4 cursor-pointer">Message</label>
									<i class="fas fa-comments"></i>
								</button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row px-5 p-4">
				<div class="row d-flex justify-content-between align-items-center">
					<div class="col-12 col-lg-6 d-flex">
						<h1>{{ annonce.titre }}</h1>
						{% if app.user and annonce.id_compte.id != app.user.id %}
							<span class="mt-1 ms-3" data-id="{{ annonce.id }}">
							{% if annonce.id in wishlistIdAnnonce %}
								<i class="fas fa-3x fa-heart"></i>
							{% else %}
								<i class="far fa-3x fa-heart"></i>
							{% endif %}
						{% endif %}
						</span>
					</div>
					<h1 class="col-12 col-lg-6 price text-end display-3">
						<strong>{{ annonce.prix }}&euro;</strong>
					</h1>
				</div>
				<div class="row">
					<h3>Description</h3>
					<p class="text-muted lead">{{ annonce.description }}</p>
				</div>
			</div>
		</div>
	</div>
	{% if annonce.actif != 0 %}
	<div class="modal fade" id="paiementAnnonce" tabindex="-1" aria-labelledby="paiementAnnonceLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
					<h3 class="modal-title">Effectuer le paiement</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
				<div class="modal-body">
					<div class="container col-10 p-3">
						<div class="d-flex bd-highlight mb-3">
							<div class="p-2 bd-highlight">
								<label for="visa"><i class="fab fa-cc-visa fa-3x me-2 mb-2 cursor-pointer active"></i></label>
								<label for="mastercard"><i class="fab fa-cc-mastercard mb-2 fa-3x me-2 cursor-pointer"></i></label>
								<input class="d-none" type="radio" name="moyenPaiement" id="visa" value="visa" checked />
								<input class="d-none" type="radio" name="moyenPaiement" id="mastercard" value="mastercard" />
							</div>
							<div class="ms-auto p-2 bd-highlight">
								<h3 class=" justify-content-end me-1">Prix <span style="color:#009C9F;"> {{ annonce.prix }}&euro;</span></h3>
							</div>
						</div>
						<div class="form-floating mb-3">
							{% set numCarte = 4 ~ random(100000000000000, 999999999999999) %}
							<input type="number" class="form-control rounded-3" placeholder="Numéro de la carte" value="{{ numCarte }}" name='numCarte'>
							<label for="">Numéro de carte</label>
						</div>
						<div class="row">
							<div class="form-floating mb-3 col-6">
								{% set expirationDate = random(1, 12) | format_number({min_integer_digit:'2'}) ~ "/" ~ (('now' | date('y') | number_format  ) + random(1, 2)) %}
								<input type="text" class="form-control rounded-3" placeholder="MM/AA" value="{{ expirationDate }}" name='exp'>
								<label for="">Expiration</label>
							</div>
							<div class="form-floating mb-3 col">
								{% set crypto = random(100, 999) %}
								<input type="number" class="form-control rounded-3" placeholder="Cryptogramme" value="{{ crypto }}" name='crypto'>
								<label for="">Cryptogramme</label>
							</div>
						</div>
						<div class="row d-flex mt-3">
							<button type="button" class="btn bg-retech text-white buy-annonce">Acheter</button>
						</div>
					</div>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
	{% endif %}

	{% include "slider.html.twig" with {'annonces': annonces, 'wishlist': wishlist} %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/wishlist.js') }}"></script>
    <script>
        $(document).ready(function () {
            var block = false;
			$('body').on('click', '.annonce .fa-heart', function(){
				if(block) return;
				block = !block;
                toggleWishlist('{{ path('wishlist_toggler') }}', $(this))
				setTimeout(() => {
					block = !block;
				}, 1000);
            });

			function fixResponsive() {
				if (window.innerWidth < 992) {
					$('.fix-responsive').removeClass('position-absolute')
				} else {
					$('.fix-responsive').addClass('position-absolute')
				}
			}
			$(window).on('resize', () => {
				fixResponsive()
			})
			fixResponsive();

			$('.buy-annonce').on('click', function(){
				$.redirect('{{ path('transaction_new', {'id': annonce.id }) }}', {methode: $('input[name=moyenPaiement]:checked').val()}, "POST", "_blank");
			});
			
			$('.send-message').on('click', function(){
				{% if app.user %}
					{% if annonce.id_compte.id != app.user.id %}
						$.redirect('{{ path('message_check_conversation') }}', {idAnnonce: {{ annonce.id }}}, "POST", "_blank");
					{% else %}
						alert('Vous ne pouvez pas vous envoyer un message');
					{% endif %}
				{% else %}
					alert('Vous devez vous connecter pour envoyer un message');
				{% endif %}
			});
        });
    </script>
{% endblock %}
