{% extends 'base.html.twig' %}
{% set iDontKnow = annonces | json_encode %}

{% block title %}Annonces{% endblock %}

{% set wishlistIdAnnonce = [] %}
{% for wish in wishlist %}
	{% set wishlistIdAnnonce = wishlistIdAnnonce|merge([wish.id_annonce.id]) %}
{% endfor %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 bg-white">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0 p-2">
						<li class="breadcrumb-item">
							<a href="{{ path('accueil') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Annonces</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-3">
		<div class="row">
			<div class="col-lg-2 bg-white">
				<section class="mx-2 my-3">
					<section class="mb-4">
						<h4 class="font-weight-bold mb-3">Tags</h4>
						<select class="selectpicker bg-white select-tags" data-live-search="true" multiple title="Sélectionner un ou plusieurs tags" data-max-options="3" data-width="100%">
							{% for tag in tags %}
								<option value="{{ tag.nom }}">{{ tag.nom }}</option>
							{% endfor %}
						</select>
					</section>
					{# <section class="mb-4">
						<h4 class="font-weight-bold mb-3">Prix</h4>
						<div id="slider-range"></div>
						<div class="mt-3">
							(<span class="min-max">0€ - 500€</span>)
						</div>
					</section> #}
					<button class="btn bg-retech text-white w-100" id="btnSearch">Rechercher</button>
				</section>
			</div>
			<div class="col-lg-10">
				<div class="row annonces">

				{% if not annonces %}
				<div class="text-center p-3 my-4">
					<i class="py-4 fas fa-5x fa-search anim-not-found"></i>
					<h1>Oups ! Nous n'avons pas ça sous la main</h1>
					<p class="lead">On dirait qu'il n'y a aucune annonce qui correspond à votre recherche :(</p>
					
				</div>
				{% endif %}
					{% for annonce in annonces %}
					{% set imgUrl = null %}
						<div class="col-xl-4 col-lg-6 col-md-6 mb-4 item">
							<div class="card annonce ribbon-box">
								{% for image in annonce.images %}
									{% if image.presentation %}
										{% set imgUrl = image.nom %}
									{% endif %}
								{% endfor %}
								<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
									<img class="card-img-top" src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'article {{ annonce.titre }}"/>
								</a>
								<div class="card-body">
								{% if annonce.annonce_payante %}
								<div class="ribbon-two ribbon-two-info"><span>Boostée</span></div>
								{% endif %}
									<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
										<h3 class="card-title mb-3">{{ annonce.titre }}</h3>
									</a>
									<div class="d-flex justify-content-between h2">
									{% if app.user %}
										{% if annonce.id_compte.id != app.user.id %}
											<span data-id="{{ annonce.id }}">
											{% if annonce.id in wishlistIdAnnonce %}
												<i class="fas fa-heart"></i>
											{% else %}
												<i class="far fa-heart"></i>
											{% endif %}
											</span>
										{% endif %}
									{% endif %}
										<p class="price">{{ annonce.prix }}€</p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<div class="pagination">
						{% if tag %}
							<a href="{{ path('annonces-tag', {'id': id+1, 'nom': nom }) }}" class="next">Next</a>
						{% else %}
							<a href="{{ path('annonces', {'id': id+1 }) }}" class="next">Next</a>
						{% endif %}
					</div>
					<div class="d-flex justify-content-center">
						<i class="fas fa-sync fa-spin fa-3x"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/infinite-ajax-scroll.min.js') }}"></script>
	<script src="{{ asset('js/wishlist.js') }}"></script>
	<script src="{{ asset('js/popper.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap-4.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
	<script src="{{ asset('js/defaults-fr_FR.min.js') }}"></script>
	
	<script>
		$(document).ready(function(){
			{% if nbPage != 0 %}
				var ias = new InfiniteAjaxScroll('.annonces', {
					item: '.item',
					next: '.next',
					pagination: '.pagination',
					logger: false,
					spinner: '.fas.fa-sync',
					logger: {
						page: (event) => {
							currentPage = event.url.split('/').at(-1)[0];
							if(parseInt(currentPage) >= {{ nbPage }}) ias.disableLoadOnScroll();
						}
					}
				});
			{% else %}
				$('.pagination').addClass('d-none');
				$('.fa-sync').addClass('d-none');
			{% endif %}

			var block = false;
			$('body').on('click', '.annonce .fa-heart', function(){
				if(block) return;
				block = !block;
                toggleWishlist('{{ path('wishlist_toggler') }}', $(this))
				setTimeout(() => {
					block = !block;
				}, 1000);
				
            });

			var tl = anime.timeline({
				easing: 'linear',
				duration: 700,
				loop: true,
				targets: $('.anim-not-found').get(0),
			});
			tl.add({
				translateX: -25,
				translateY: -25
			}).add({
				translateX: 0,
				translateY: -50,
				duration: 300,
				easing: 'easeInSine'
			}).add({
				translateX: 25,
				translateY: -25,
				duration: 300,
				easing: 'easeOutSine'
			}).add({
				translateX: 0,
				translateY: 0,
				duration: 700,
			});

			//var price = {};
			/*$( "#slider-range" ).slider({
				range: true,
				min: 0,
				max: 2000,
				step: 10,
				values: [ 0, 500 ],
				slide: function( event, ui ) {
					price.min = ui.values[0];
					price.max = ui.values[1];
					$('.min-max').html(`${price.min}€ - ${price.max}€`)
					$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
				}
			});*/
			$('#btnSearch').on('click', function(){
				const baseURLTag = '{{ path('annonces-tag') }}';
				var tags = [];
				$('.select-tags option:selected').each(function(){
					tags.push($(this).val())
				});
				tags = tags.join(',');

				//filter = {};
				//filter.price = price;
				//var url;
				if(tags.length != 0){
					url = `${baseURLTag}/${tags}`;
					window.location.href = url;
				}
			})
		});
	</script>
{% endblock %}