{% extends 'base_admin.html.twig' %}
{% set iDontKnow = annonces | json_encode %}

{% block stylesheets %}
    <link href="{{ asset('css/vendor/dataTables.bootstrap5.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/vendor/responsive.bootstrap5.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ path('adminHome') }}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">Annonces</li>
                    </ol>
                </div>
                <h4 class="page-title">Annonces</h4>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="annonces-datatable">
                            <thead class="table-light">
                                <th>ID</th>
                                <th>Titre</th>
                                <th style="width: 250px;">Tag</th>
                                <th>Date d'ajout</th>
                                <th>Prix</th>
                                <th>Annonce payante</th>
                                <th>Statut</th>
                                <th style="width: 100px;">Action</th>
                            </thead>
                            <tbody>
                                {% for annonce in annonces %}
                                    {% set tags = "" %}
                                    {% set actif = "Actif" %}
                                    {% set actifClass = "bg-success" %}

                                    {% for tag in annonce.liste_id_tag %}
                                        {% set tags = tags ~ tag.nom %}
                                        {% if not loop.last %}
                                            {% set tags = tags ~ ', ' %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if not annonce.actif %}
                                        {% set actif = "Inactif" %}
                                        {% set actifClass = "bg-danger" %}
                                    {% endif %}

                                    {% set imgUrl = null %}
                                    {% for image in annonce.images %}
                                        {% if image.presentation %}
                                            {% set imgUrl = image.nom %}
                                        {% endif %}
                                    {% endfor %}

                                    <tr>
                                        <td>{{ annonce.id }}</td>
                                        <td>
                                            <img src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'annonce {{ annonce.titre }}" title="{{ annonce.titre }}" class="rounded-3 me-3" height="48" />
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="{{ path('adminAnnonceDetail', {'id': annonce.id}) }}" class="fw-bold">{{ annonce.titre }}</a>
                                            </p>
                                        </td>
                                        <td>{{ tags | u.truncate(100, '...', false) }}</td>
                                        <td>{{ annonce.date_creation | date("d/m/Y") }}</td>
                                        <td>{{ annonce.prix }}&euro;</td>
                                        <td>{{ annonce.annonce_payante ? 'Oui' : 'Non' }}</td>
                                        <td><span class="actif p-1 badge {{ actifClass }}">{{ actif }}</span></td>
                                        <td class="table-action">
                                            <a href="{{ path('annonce-single', {'id': annonce.id}) }}" target="_BLANK" class="action"> <i class="fas fa-eye"></i></a>
                                            {# <a href="#URLAdminAnnonceEdit" class="action"> <i class="fas fa-edit"></i></a> #}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/vendor/dataTables.bootstrap5.js') }}"></script>
    <script src="{{ asset('js/vendor/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/vendor/responsive.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('js/vendor/plugin/dataTables_sorting_naturals.js') }}"></script>
    <script>
    $(document).ready(function () {
        $('#annonces-datatable').DataTable({
            columnDefs: [
                { type: 'natural', targets: 0 },
                { type: 'natural', targets: 1 },
                { type: 'natural', targets: 4 }
            ],
            columns: [
                null, null, null, null, null, null, null, {
                    orderable:!1,
                }
            ],
            order:[[0,"desc"]],
            pageLength : 5,
            lengthMenu: [[5, 10, 20, 100, -1], [5, 10, 20, 100, 'Tous']],
            language: {
                url: "{{ asset('js/vendor/dataTables_fr_fr.json') }}"
            },
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
            },
        });
    });
    </script>
{% endblock %}