{% extends 'base_admin.html.twig' %}
{% set iDontKnow = infos | json_encode %}
{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Tableau de bord</li>
                    </ol>
                </div>
                <h4 class="page-title">Tableau de bord</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <div class="w-50">
                        <canvas id="users"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <div class="w-50">
                        <canvas id="annonces"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <canvas id="annoncesMonth"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="float-end">
                        <a href="#URLAllTransactionsAdmin">Tout voir</a>
                    </div>
                    <h4 class="header-title mb-2">Dernières transactions</h4>
                    <div data-simplebar style="max-height: 419px; min-height: 419px;">
                        <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                                {% for transaction in infos.transactions %}
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal"><a href="{{ path('adminTransactionDetail', {'id': transaction.id}) }}">{{ transaction.id }}</a></h5>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal"><a href="{{ path('adminUtilisateurDetail', {'id': transaction.id_compte.id}) }}">{{ transaction.id_compte.nom }} {{ transaction.id_compte.prenom }}</a></h5>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal"><a href="{{ path('adminAnnonceDetail', {'id': transaction.id_annonce.id}) }}">{{ transaction.id_annonce.titre }}</a></h5>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal">{{ transaction.moyen_paiement }}</h5>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal">{{ transaction.date_creation | date("d/m/Y H:i:s") }}</h5>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-bold text-success">Payé</h5>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('js/vendor/Chart.bundle.min.js') }}"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script>
        $(document).ready(function () {
            var chartUser = graphPie(
                $('#users').get(0).getContext('2d'),
                ['Utilisateurs', 'Vendeurs'],
                ['rgba(54, 162, 235, 0.4)', 'rgba(255, 205, 86, 0.4)'],
                ['rgb(54, 162, 235)', 'rgb(255, 205, 86)'],
                "Utilisateurs",
                [{{ infos.nbAllUsers }}, {{ infos.nbAllSellers }}]
            );

             var chartAnnonce = graphPie(
                $('#annonces').get(0).getContext('2d'),
                ['Annonces', 'Annonces payantes'],
                ['rgba(153, 102, 255, 0.4)', 'rgba(201, 203, 207, 0.4)'],
                ['rgb(153, 102, 255)', 'rgb(201, 203, 207)'],
                "Annonces",
                [{{ infos.nbAllAnnonces }}, {{ infos.nbAllAnnoncesPaid }}]
            );

            function graphPie(selector, labels, backgroundColor, borderColor, title, datasetsData){
                return new Chart(selector, {
                    type: 'pie',
                    data: {
                        labels,
                        datasets: [
                            {
                                data: datasetsData,
                                backgroundColor,
                                borderColor,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: title
                            }
                        }
                    }
                });
            }
            var chartAnnonceMonth = 
                new Chart($('#annoncesMonth').get(0).getContext('2d'), {
                    type: 'bar',
                    data: {
                        labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                        datasets: [
                            {
                                label: 'Annonces postés',
                                data: {{ infos.productsPostedByMonth|json_encode|raw }},
                                backgroundColor: 'rgba(181, 150, 66, 0.4)',
                                borderColor: 'rgb(181, 150, 66)',
                                borderWidth: 1
                            },
                            {
                                label: 'Annonces vendus',
                                data: {{ infos.productsSoldByMonth|json_encode|raw }},
                                backgroundColor: 'rgba(74, 105, 189, 0.4)',
                                borderColor: 'rgb(74, 105, 189)',
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: "Annonces"
                            }
                        }
                    }
                });
        });
    </script>

{% endblock %}