{% extends 'base_admin.html.twig' %}
{% set iDontKnow = transactions | json_encode %}

{% block stylesheets %}
    <link href="{{ asset('css/vendor/dataTables.bootstrap5.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/vendor/responsive.bootstrap5.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ path('adminHome') }}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">Transactions</li>
                    </ol>
                </div>
                <h4 class="page-title">Transactions</h4>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="transactions-datatable">
                            <thead class="table-light">
                                <th>ID</th>
                                <th>Acheteur</th>
                                <th>Annonce</th>
                                <th>Méthode de paiement</th>
                                <th>Date</th>
                                <th>Statut</th>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        <td><a href="{{ path('adminTransactionDetail', {'id': transaction.id}) }}" class="text-body">{{ transaction.id }}</a></td>
                                        <td><a href="{{ path('adminUtilisateurDetail', {'id': transaction.id_compte.id}) }}" class="text-body">{{ transaction.id_compte.nom }} {{ transaction.id_compte.prenom }}</a></td>
                                        <td><a href="{{ path('adminAnnonceDetail', {'id': transaction.id_annonce.id}) }}" class="text-body">{{ transaction.id_annonce.titre }}</a></td>
                                        <td>{{ transaction.moyen_paiement }}</td>
                                        <td>{{ transaction.date_creation | date("d/m/Y H:i:s") }}</td>
                                        <td class="fw-bold text-success">Payé</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/vendor/dataTables.bootstrap5.js') }}"></script>
    <script src="{{ asset('js/vendor/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/vendor/responsive.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('js/vendor/plugin/dataTables_sorting_naturals.js') }}"></script>
    <script>
    $(document).ready(function () {
        $('#transactions-datatable').DataTable({
            columnDefs: [
                { type: 'natural', targets: 0 },
                { type: 'natural', targets: 1 },
                { type: 'natural', targets: 2 }
            ],
            order:[[0,"desc"]],
            pageLength : 5,
            lengthMenu: [[5, 10, 20, 100, -1], [5, 10, 20, 100, 'Tous']],
            language: {
                url: "{{ asset('js/vendor/dataTables_fr_fr.json') }}"
            },
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
            },
        });
    });
    </script>
{% endblock %}