{% extends 'base.html.twig' %}

{% block title %}Wishlist
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 bg-white">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0 p-2">
						<li class="breadcrumb-item">
							<a href="{{ path('accueil') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Wishlist</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-3">
		<div class="row justify-content-center">
			{% if wishlist | length == 0 %}
				<div class="text-center p-3 my-4">
					<h1>Vous n'avez pas encore suivi d'article !</h1>
					<p class="lead">Vous trouverez ici la liste des articles qui vous tiennent à coeur et que vous voulez suivre de très très près</p>
					<i class="heart-anime py-4 fas fa-5x fa-heart-broken"></i>
				</div>
				<a type="button" class="btn bttn col-6 bg-retech text-white mb-5" href="{{path('annonces')}}">
					<label class="fs-4">Découvrir les annonces Re-tech</label>
				</a>
			{% endif %}
			{% for wish in wishlist %}
				<h1 class="m-4">Articles favoris</h1>
				{% set annonce = wish.id_annonce %}
				<div class="col-xl-4 col-lg-6 col-md-6 mb-4">
					<div class="card annonce ribbon-box">
						<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
							<img class="card-img-top" src="{{asset('images/iphone1.jpeg')}}" alt="Image de l'article {{ annonce.titre }}"/>
						</a>
						<div class="card-body">
							{% if annonce.annonce_payante %}
								<div class="ribbon-two ribbon-two-info">
									<span>Sponsorisé</span>
								</div>
							{% endif %}
							<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
								<h3 class="card-title mb-3">{{ annonce.titre }}</h3>
							</a>
							<div class="d-flex justify-content-between h2">
								<span>
									<i class="fas fa-heart"></i>
								</span>
								<p class="price">{{ annonce.prix }}€</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
            </div>
	</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
        
		$(document).ready(function () {
			scales = [2, 1]
            that = $('.heart-anime')
                    if(that.hasClass('fa-heart-broken')){
                        scales = [0.75, 1]
                    }
                    var tl = anime.timeline({
                        easing: 'easeOutCubic',
                        duration: 1000,
                        loop: true
                    });
                    tl.add({
                        targets: that.get(0),
                        scale: scales[0],
                        opacity: 0,
                        changeComplete: function() {
                            that.toggleClass('fa-heart-broken')
                            that.toggleClass('fa-heart')
                        }
                    })
                    .add({
                        targets: that.get(0),
                        scale: scales[1],
                        opacity: 1,
                    });
                    
		})
	</script>
{% endblock %}
