<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Administration - {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ asset('images/logo/favicon.ico') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/logo/apple-touch-icon.png') }}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/logo/favicon-32x32.png') }}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/logo/favicon-16x16.png') }}"/>
        <link rel="manifest" href="{{ asset('images/logo/site.webmanifest') }}"/>
        <link rel="mask-icon" href="{{ asset('images/logo/safari-pinned-tab.svg') }}" color="#5bbad5"/>
        <meta name="msapplication-TileColor" content="#da532c"/>
        <meta name="msapplication-TileImage" content="{{ asset('images/logo/mstile-144x144.png') }}"/>
        <meta name="theme-color" content="#ffffff"/>
        <link rel="stylesheet" href="{{ asset('css/icons.min.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/app.min.css')}}" type="text/css" id="light-style"/>
        <link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('font-awesome/css/all.min.css') }}" type="text/css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false}'>
        <div class="wrapper">
            <div class="leftside-menu">
                <a href="{{ path('adminHome') }}" class="logo text-center logo-light">
                    <span class="logo">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50" height="35" viewBox="0 0 1066 779" enable-background="new 0 0 1066 779" xml:space="preserve">
			<image id="image0" width="100%" x="0" y="0" style="image-rendering: -webkit-optimize-contrast;"
				href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABCoAAAMLCAMAAAC/3IblAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
			AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACKFBMVEX///8AmZkAnZ8AnJ8A
			nJ8AnKAAnJ8AnJ8AnKAAqqoAnZ8AnJ8AnJ8AnJ8AnJ8AqqoAnJ8AnKAAnZ8Am5sAnJ8AnJ8Am54A
			m58AnJ8An58AnJ4AnZ0AnJ8AnJ8AqqoAnJ8Am6AAnp4AnJ8Am58AnJ8AnKAAnJwAnaEAnJ8Amp4A
			nJ8AnJ8Anp4AnJ8Amp8AnJ8AnJ4Am58AnJ8Am58AnKAAnp4AnZ8Am58AlZUAnJ8Am6AAnJ8An58A
			nJ8AnaAAnKAAnp4AnJ8AnJ8AnZ8Am58AnJ8Am58AnJ8Am6AAnJ8Am58An58AnJ8AnKAAm54AnJ8A
			nZ8AnKAAnZ0AnJ4AnaAAnJ8AnJ8AnKAAnJ8Anp4AnJ8AnJ4AnJ4AnZ4AnJ4AnJ8AnKAAnJ8AnJ8A
			nJ4Am6AAnJ8Am54AnZ8AnJ8AnaAAnJ8AnJ8AnZ8AnJ8AnaAAm58AnJ8AnaAAnJ4AnJ8AnZ8AnJ8A
			nJ8AnZ8Amp8Am58Am58AnJ8Am54AnJ4AnKAAnJ8Anp4AnJ8AnJ4AnJ8AnaAAnKAAnJ8AnJ8AnKAA
			nJ8Am54AmZ8Am6AAnJ8Am58Am54AnKAAnJ4AnZ8Am54AnZ8AnJ8Anp4Am58AnJ8AnJ8AnJ8AnJ//
			///w///39//4+P/0+P/0+P/0+P/0+P/0+P/0+P8AnZ/////////////////////q///t///u///v
			///x///y8v/19f/29v/0+P8AnJ/0+P////8A+YY2AAAAtXRSTlMAD2Ciz+v52H4JgvX+92oDpfvp
			F5D9V9KnIHQaqO0G4jM/d82/8xJJ/Dqq5iL4NfR5ksic4yq4pAy5c/Et317THdHBesD65LBm1PYl
			5ZtP8MqGPHFb0N6O2RWtZNaZhODL6GK2bt1ZlI1G7My9uquX1U7G58W1wm0wfYDcoc6Ln0S0vu6e
			2++VS7KuKLvyikLDsWhUh+o3UsfayeEEER8i7vry8OHr1wECBwgJDA4PEBITGRv+Sio2wwAAAAFi
			S0dEAIgFHUgAAAAJcEhZcwAAFE0AABRNAZTKjS8AAAAHdElNRQflDAUMFARYqteKAAAiUnpUWHRS
			YXcgcHJvZmlsZSB0eXBlIDhiaW0AAHic7Z1XriOxjobftYq7hFKWlqMIzMPs/3U+qlzOPqH7AuMG
			7NNOVQokxfBTklsq1f/5X/Wf//zHWL8lZZMzLru+OeO380Nv3z2u6jn5rtbFumnb7IwpbkEHG2rw
			0ZktmOBDDDkM240Zs9Y6jeF6Dk6u+Gi963ZzPW7KWQqnkF2KJVLR21jc8C7wToPWUskYO+3Yim0x
			2RJToGLo0lnQZpPvoakwopWb0gPUuDCFDlv26+fii5JLM1yrUsOdayiz+eS638wGbVNoMpv1Zlhr
			OvRsVlt6tfDLNW2d9fKZa42rZt03ZtpN7W8U66tYWQULRaLZ7v6MsLd/hkkDLZT0xjkXzKZ2Dk8M
			7jeFyRQdf5stMDXjepgRKWTGojvSvbZZ/hYhRvFmoKrvjfBuI6MkcokJ5uhAbl9ouacIchi8YBUX
			8hJeRmgDgZ4KIHhD34haKETS5YHV09/dqMlYPDK1KBqX0eQzQxI67CZo3oRBBoF39Uj2mfi98eKs
			jCXVnEjHS5MzNDsuQ8/IbwplnKuIXZ+WGnjLKG4m+aXVUhxZW5NtW5Q8bV4d7f+YKu/c/m7H0iMD
			c6iO6BHWYr13DOe29CjzilGautRNPm8vaLlqVH1DSYdeGdEQ83NKDkLUooRx4xVLQrftS0qeNnoQ
			ol5Ssow17BX019QIMerH1Lxo+I6iVelO6W91/jsjUfcV/tRI1GH5VLZP7H6jIRPaxealHK+eel7c
			nhg4yjrVspXlAV8p5eqihLCa6iIbO8TOcLcNLuySVlaLnRmDmMKteVLwznxEks+aFQLUdd9/I3D1
			rMKfCPzW1T4y82MPpWRkHlzJ2V194a3uaqndnsWViPhO9iSmYJfMHml8Wnor6ie9rerCio1n3cE/
			ClNIeHdtCtk8Jf5hXCQOx9dl1WMVUTM7dnM1YzmOPXB6S4gGNgBjnLxaucYnK9FYccE467BnnsZS
			B7t3eEkpCD/X2rV38Zwm9aCKX7DwUvx8U18J8FF+r7Vf/dTffKf96udB+Tomuw5Su9F69bvATINd
			9P2xU/W0V2TkCLM7rT+3tbteBWFGpEGh6c2Sz1x+kmGQ5veBuQc7N/7oiv/iBCXZFTnWSAKF3ZWa
			5pOaLrxGq6DaXR0Nqnelpz9S05tu1bN+vwrjp4r3JpzVDcE/tKtn9KovCX7o9zW96qaiqH/ekwaY
			bc8bek6/+h0Dr+lXP6XjuwGQhkhpzvb+0t/cGrIXH6FfKOTzKuLMLpYuaZi4F7Kok/avdEuSmmsD
			eBV8nnZ0sUdxJPbKH4UrkIlkRZR3hV/5rpes3fX3I6tTf6LFD0pAN+rrfn8uMXVhIUaighcJvEKu
			XwF6dSvSS2O/HT21qouzpCGa0TJyhKW4a/V9DvQ6BVIvcqBrKr/o5gea/bNAfaVHvzeG57bwgqKv
			jOGi31GgcdjtQP3OEF539Y1CPoQfmV54agfqd4bwulv1O0N4bQfqiSHolcG59WoeMrgXdvDtqD2h
			5amCqt8Zwms7UL8zhC80+0HlhAoZi7gUjRTsYcTuSnyr2b+ztxM8/nt7+4NRe25v6veB53lX6veB
			5wL3rtGe+n3ged6t+n3geW5v6kXg+XrG5Elj6g9pebAD9fvA89ze1O8Dzxea/d+wt280++f2pm4L
			P2LDu0avwfQN9nwYtd9MtVyXVft89D4RLz3eT8X/VD1+ZP3//w39jJl/hLU/YeZdWXs6e/yvsvbF
			RNS/x9oPYc2/wdrvTeaNWftb+38n1n6Yr/0brD0bmH+Wte+17B9i7bcm89as/Z39vxdrd0uHb0DR
			XzT0w5nRf4O1H6ZZ/wZrvzOZN2ftb+z/3Vj74fzRv8Ha/cD8/1P0Fw19rWX/GGu/MZm3Z+3P7f8N
			Wfv7yYz3Ye2Wl3eg6C8a+nbx4F9i7eda9g+w9qcm85as/Xfs/z1Yu+blPSj6i4a+2Fj577H2Uy37
			J1j7M5N5U9b+G/b/Lqx9uyXmX2Lt252+/xJrn8XMd2Xts5j5pqx9FjPflbXPYuabsvZZzHxX1j6L
			me/K2mcx801Z+yxmvitrn8XMN2Xts5j5rqx9FjPflbXPYuabsvZZzHxX1j6Lme/K2mcx801Z+yxm
			vitrn8XMN2Xts5j5rqx9FjPflbXPYuabsvZZzHxX1j6LmW/K2mcx811Z+yxmvitrn8XMN2Xts5j5
			rqx9FjPflLXPYua7svZZzHxX1j6LmW/K2mcx811Z+yxmvitrn8XMN2Xts5j5rqx9FjPflLXPYua7
			svZZzHxX1j6LmW/K2mcx811Z+yxmvilrn8XMd2Xts5h5VH16/K6XYxLk8I0YTyfnXp3fa8txpq/a
			tjHvDgC+Pgm4xm0dhiXHXq3DE9dRk+5093x8sN/WKQzeyilzcvDgpRG3Hy7r1ykMPvT76+fvNsih
			Il2dvs9LzzSbYfDUiJNjCty5oyeUIgLjhkIeXQ4icd4nf5B8zdx1F/JJGgzrkAUHk5uTIylKsCeK
			NFVd2LaAvCJyF1YC10QafN2CvEfkmbm2ncrAXpSn1PPqqu8Sn/R4TyOsNtgZd7JrKhi+5nUT8i/E
			nwrkS+POuu6zqzfDXy/Db0x/PfzaPB9+Ny/nRES7N7TpM/3OrtvjYYzWIEO7ebzjTYgRWtWzSlQY
			zj5tTih7dkdkhHye3Rr05GJ4ckeOeJPj3m7urFHbtfUZ4c4sq4uHtjxKUZhzGKVyx017uRGcGPE6
			0cQH49CusT0+XBQRHOXUFwXlFNifNCiD4JTHNpYIg7F+KduTsueGhdbn5dVjBS/HAFHgqoIc8tig
			aEuPxcs6OWsdLSdnlp7O5n10J34LGJScMHTrTo7rx3e1XziLHI2gSog/ZljOhpbDZ9SPK8gJ4O1G
			QmI81m0+P5GR3taJK/ThT0fr+IsDy+s4mXtd20/bk9Ng5UQlOeHISQNOZLZOz5xS7Y6sdu7mqHMS
			hBy8/axCv6/g99MQxQE/76KqhypLeI/Fzz7Ijn65KoObzkfKyzdzXDi+X509Hy4Vt2eqvdmZTmfT
			X3q7Kqj91ryYsl4nLW37QUH7IU+4LR32A3HleHe6Vpeetb/qwxzSEk05OXuKBzoSJRSeV3A4BYEw
			oEicQ7hqROzASaV2qpD2StK21TccOHuuJ672YGcVmjxuJUAoenEHuvXRqKLzq1F4sEp/6X27Lnca
			GD2uG8pfFWBI7NX967JnPqSsksIm3vjOst050+1aHey8kqeDA0PMC+GkRyhgWEHxWmf0UWj/XHTO
			uTyW2Uf41JA/ANN9IX/5fATS2zIXGYlanh+7TcxfPFDidFD0RxXv66k/rXj/eGjoqHilPzejdy0X
			7h2mtFh7CA1XJnB9WTR8/V15hn7d0Gl49zauervq4A7ymBOZ5kLutfVf+5pziav7Z0xNd4danFXh
			1vnbbUdgzpTt9nGv6Q+Po6HnBY8Gjw6+bOjbvu56uim/om8Tz7VTdAxi2E9Zl+wDOPclJpJAYY9r
			7szaEXhfBJvtEr9e3DfqSUC8kohAzYdodhmKILhlHXQvJ+bSVXPtjCv0Fyz5S8XTzUMoUV1uyXl+
			L0iPIcb9jPrtVaml2eH6gOK71AB8c+nqqtzpfifayTltU7l1Lp6kSsfpvWc+Tkc33jVdrps+ypxH
			DYDcQzyb8h+owd7QFRV/qgYHReav1MCCs5FN+yJ/PBvBV2Vcj3addfhFoSDHTC/UpAGtr8uR0wrw
			XT0ycknOoka8FHYdedyD5XRf+tK0emg7r9MWTSyCgJbW3OvWvNGtU2l1KX4qFoNoUxBFu4LLWfA9
			Fdyr5tVt+/6h+JfNV5hHjYR9JYQ912Gtb1iQrGxVua5xHrexw2N/ZmAp5CkNXin7C9WUQx2Xah5l
			1ReF16gdEP67xmXUajzD8a+LXwXG66DajoaMvQOHV7HsWjH0gc5O966DuTvC0biKsOeERft5Z/OH
			ccVdqqeY2mvYFVL7DgNayNVz9jQnOW/ziYYtCBisRyY9XeA7ju6gTZhyybXlDqfazH4Ny18p+558
			k5cln33BQ8Um3YqrEiAaDqy9zoy1cn6mt6jYmTXxxd4BBwkGq6nt+WNH3PS6XRlWt6YrDHSfqvvL
			x5Ms+4YAYWATo9m/HpprbTid8LlfTwdr2E9cUzqnCoc6aJkBqefr5gzoRZpLivt1ndS5Qry+Ydql
			oevr7tKBk+E5xRxzFnbc1g133GinGikRG/05SFl36iBhCAy7jyfv3o+GDAYhdh/2XOOMvbU0L+fV
			77I4K6sMrKSuYS8H1jyE3cQ1MPCnCnavkDDc+OL6XXl13IgnL3yMl/gehJwvBo2S4LNNltTTZv4S
			sk/CnrgUJW7CdH9M9Ere6sxqZp3AKvnsYvdmuM8PbQ4FVuak05SRfmjNoKhm2BeQ8FL1tqb6vurP
			Ht9o9uVxNuKrx7ReOtdHQ9hBa88K/rTBMIs5TSCc0kubnxc0eQm8xrTK6dTLfbnVkHEnzzf3aY0a
			2nwxSuFwN6IQYp22mGlmBEPyWCdPo6dmnHX14fG6ib0F9X0TP3t8O2rPWTTjoO/QP3XRIhTsJr6b
			7VC8cIRqcIE449OCh8do+uGc1Svv/Njn112qn/f5MiA8l9ELmbQ1dbZAzzEZBR0n5yaRTQm6XrYu
			51/nY/odGrO8/tyg1c/6+7479XMH8vVD3Tjx9dC2OJm4BrBNI+9bmwt52NGbuFqndyhvfcvn2TD1
			aKREiuzDZanKRz1HvAkCV73eyOjlw6QjUsocd75Ke2SeDvcviiMqE8NtQxfoJOSIS5jCIs+8gyFj
			pfV9LkkmoFC4TVZrnFAkiEf8iJv7nKNMK/txmlZM+4KUkCJyjMgoaQmQPOuOdDL1c6GhPCWb48nV
			QgPVrOWzrVKpacGkPOua29wIN+CzfaZ18HnURTRAh4ZmPc3CRJ4dx2t5Zp6TkOF5cn+fcdzkYHAG
			kyf5CaqmoV4HcVZR8cJNMKGGbJ1oBJI1UVDnsulCB1CqK++VdyjUjffOe+d98D54n/hsPQtwxfJs
			wBPHs4NGAs8pk4b4Yc2zCuLgyT0As8w3ksggd66lsZkMrDGyIFtoBGhq6NEgDwm9oosGGRgCg2iP
			KKGFDwvoBOrJTBPoxPKcqCbCtoGbjIqNg3BSiCRB3DFPvtcip80DW6ggC7SjgVTyJkskot/iWWRW
			y9mq8FEJDfCbY7gdJDsadKlhiQWt4B6UgoqBr9xHJqIlYkKegfG64dPq5i0UeUcw8wljl6UHnuiI
			hypfeFYgduMJq57h9jNs6w8Wg4mi1jiwRJqUFVlr2UKs6F7DK/QtlLmmsgMjE4YljHoUgz9UItJ7
			tB1IOcngUBhgUKTjmGkoIuhYuSE+VZZBQGsJwSb0KKE/yYUtgSETapKARAlqU+F75Tt10ohbmsgo
			o7wZxcu2bJmeMngxg4kyBpvR+IzAc+MznWSUt5DoFNgqUFZQiQJHJWmFZaStMEIFWZTetjJloPkj
			ClTAQAVxVLBlxewqZWsV6+EdwVdGsBFUmkHYDV1ovgH+/NZQrlbiJv6robmNRrv8oaDdiamVrSOX
			TrmOxvfG/c7niUIO9GGgfcSxTXDziHMbuWKPYRvIYIyBXeZtwv5EyyeeYaLVE1nNarcJ23M0JRJC
			nRkCmXQJCCBCc8a4Ktd7lJoaQ17/tJuAqa51aloXpNWy1iPBXFQau9LGeQ0I1diONoVQ2ngSBawA
			WMOTTlaMSFY8urbN4wg8lhm0w/CcywpIXrRLVbvS8Q6DTvEO2mjSMO1x04BmvEXVvnYNV2JtsjAo
			MEeH0HRIU4dqlCz3a7CbjviGSBIbg9cxZR3L0OiWjjPqhB/B0DWoWqdUdCoT1MZn6i2PQ1zTOVSd
			YTVXdLd3XWR61xRdEE2JEXc0NKqhy2g053S1VVfYrDRYq9G1FywOitABTaTVLVbdkE9rTTcE3PFa
			HSsGtuPDsmaodaexoYMeUDcQychODxRqDGQ0GY5ph54h68mNWSdxrJjlS5H9JiuPGdtoOA18HUOF
			/0vwTO8FYbZhqKSMMSAZ741JfCzTmN4JOsXguAy+ytjsjG2yZUSc5TTOdTBOA8BW43oR4zLeJmV8
			SMaTu3hJkGSiUVaUBU2kKMmjCSMxwDxdNjFiZTQQeyO6dZPsNCmiNeBsk7ozWaA0FCB4IHU3eBOD
			R0alvCl0VHLFG0+ciDEVsIHtmUo5NMKIa2vkIqYBTFoh+ewRp9lMRy49gkzouQ/0Eq0ZrhkIw4UD
			hMcAFjtcOfA4azPhZM6hUF6P98L6CtbbK4aAKjuGDxHpyvs0VmgzwZKsVfw+SIhU3+KbbZzW1mTt
			1Mo6iAXuWZeHdT2Rp1jrcdA+AR2bsX52K5MOIAgbyrBhZGKFs1FiRm429miTdsqSXtiUmk0tSSqy
			BinTU65wPnF3NFOis3BKYJkWhm0NqGUpto7EgEYrGaRtsNSGlY1BFmuxKKrFxVggnR30OspaLGV8
			tJ3cJxOyc5C4G4vNOnGR4nsUokULAyZdGmo6oGftKYBj4M+EFMwd+iUvppZ1DqDsUnEYuPgMIhlZ
			MmjE+T5cMOTrMpdbqguT0IaUYqzonazpeZdcddixS7hHjMXlgEhLdgAZhiW6ErtyEEJkb64i74q3
			r5CN/TlG1bVaHCrluuM9Mxa9uQEIGGE4VGGPlWBaRKnc7BLoZTeB9nh2XD2+gliIO/BYpkcJvImY
			NU4dt+ZlYsqW4hGYd45WyRpdrworS95HOG1YC341EFpDAY6ueTvnI6ZEFPcJFUyx+9SqzziZHDL+
			TiJe9MUH5UsJvkzvK2KrmeegTcsTL9aAsh1qOzlob9njmfwIzY/aPS6fCK49AUAgsAqy14DABjEt
			yFIGXi3oKftEMgbYAjAJ0aJMOQZLaHEy6NkFN8DnKIzP2DjDHwJfsMGAlQfieogkAZFCWHYgPIc0
			Wsg0lHMJeYqiJDifQIQYKh3XwvucCkJjaGWCXZNMnYVeyS+IKSPUMBragMQnSGHi0kFjUaZ8AKOR
			cIJvFjQPtnBVRfwEeB5MjyQwQPy/2+e2GsOEtyE1iAhH+CK/qTHMFMn3UDNLfCFOhBFTa4pBKTEn
			YMPAbbkQGVlAjos4+FgxJBxrbImnBBXHk4Aj8HXgAQf3cQ4AGKfiHKAsF0ESCSgOrgg16dZxIhue
			Dgc8HS4hJqyU8NkTqp7cwNap40sFHYlwjUIwMS2e8ky0mFLIOIORMk47Z2idI2GXqbSSCPUJEaY6
			W2oBh8G1jufqoNrU50xjDc5Ik+R/ZtmsBo7B8Wyd0AL61CVlwgdOu2RCuRhLxpfgcYBUCaObTqGC
			M5N4LTtkfDMQKiPNjCByci2nCmEoVQZ75dlQgpRLR6lx9bXMTBTMLWUFGIu5o2JEoUzgy6MM1KXD
			aM1zgvEC8LYTVl0ktAa8O88cCv4Zw+dJpHSYiJg5FpiKL3QGVkECBaVBzUaBqpIIJKm5goOlRAbM
			tFII+kSUUjGzOjIRvanSgILdgUUI5oPYMQj7osBQJPkmMNaDukoFhlTdiVeOiN9w9BbZlwGHmGlu
			Cl9hq08FfAbhMVccG1qXKtRg29h3J50hrGYq46VrqZ6WBh9EzXRtuQrgUbWDbeEAP45Pm0R+Qumc
			gEqg5DZAFCGCHPDxfhL0iAg4Ettlhlw33G3zrsJZUi3IKkEj43ACSFAQ21uqrRE/6CwDUFJDGA1v
			0WoNjZYaLqkRsFrnnQDVcAoK4BrbhAGymb5VYJttMAMMtbOTLXXcfSfeIMYMHTgiN7rvWnZj9tDx
			4rSHGFRPgbA4UM4AIGbcGa5eZkX2oF+ykJYK8AsUnAMRvHUQT5+gg1nIbAiXW+Wyc4p7ABxPGOsV
			Ku3AeQ3CyHCzYYX4+a2PtbdKsn/gG2nFgHUwFqrfGU98ahleEQyA1Mgb1zoAvqPnBkxIg4Edk9A3
			G0Dak08MPzV4Qc8JlkEiOk9c0nRkfoQdhbfG+fYxQ+gzyKCBNBOFEloH1MEG4sSzzAKSrzFOhhND
			SQgwz46NDFfn6E1NfOO+rWJtmSLayt4+8C82KJs7ZRaCeys/v9zbVpp2TGtMWlSnLVVtS+svy5Q0
			r5KsAP63gjprwtzkatsmCDyBOQl16xUPua7zp+Tl8vXXfzJTILlUJ6nZGFxeJYV38s4nd3xan6+6
			gbqbTu8o+s3fnDKFRANpX4oqksiT0KxlMS0TGlZeEVs/zdoUqoDL7TzNE/lj+8l5CerysPvmClk2
			8eTOcQkb8W7626r73jd7qan2qnq/KZte7GrYbJJby05KmYdowE99ol1w2AKs4CYGjwwPrBq1SjIT
			Q9DHwUvOAv4zkl5hroB+oGskIJF/WcKpF4iPhpN1CDoFtuJ0K6idVA/nDzjjHVAj0MsGSa28Hygd
			+Nzi/W23RFo7gb4m4uFcEo/oG+gLe3SYGjioY2vgJpmClO2PuHQCfluLQlN2BICQiM3EvRzxh7EB
			hYfkb7uEzEm+TthVJ2GJPABjF0kYyWFldnfJgXyDC5QwmCGp7SGGBprrwAhrFSiULEEkQfAC2Gm/
			+CcLNmvVZZfC2tUJ+yRGToRBQhBFILK0LGs8A+t/kMRrObwWg4nqmSRQy7IM+WrQRS6inDTlJPAa
			LywQtAcpAKmrEoBoceKdhBl8XgESsnsuA4NJpei+4ntKAwwSF5uOtQrCAo5N4wmo5J1dlpym6o3P
			eCnu0F8e8jplQg23GkFwo9geqyzTFuCL7MAGGZCNVE8Xkv7isiWKKTx/l8pEoYonk6kqTzweBU8O
			14MYSYZC1LXQ2IkqMctMIDhlAAb7JpUDpqzW5mHSEdQh4IlBStLazEWW0BIoJTFErc6yZjsAPrkD
			QTuJOZFm9oES0+kEHlOGZKChHgKHqkyLkwvUJlmcBES9CaKI4tGrpKqDCFNwEy2lJYY0AX0uKGIL
			2aBhbCRbGm02mPJoWhpkDyR7WofTOJGklfXBiYZcDZ1cUA9XCAP9NMge3OcTgU7MDHhNO4FsKneC
			ViEjIqZjwXmFLBWIUow2nKxFf+fCmqDBz5QmOA7KDPjZNvxGn0Cm7iORXZQXuCZAagNJFBoCwcsU
			RPY0ZevsgOSB6EdFjeUHHJ7gXKbrhayEUZd52VnICiBHum5AMXkHRBRCLyzQ6ywkgXFgF7VJoCTm
			V5PtQGUZRU/8R9kA7YiagRHloy2ZfkCF0GzJscANgD5LYgHA1kDfJLpCnsM4kj+5mgZ61oEIVAcX
			gNw3MCh3swRxM7uyEu0lgRftkM0HnqQLCy6SNpBGICTwd+ulzwVb/Zgx0pzEhoHX7KDISB8K4zel
			IAE8GfkLfWh0EaComy4CLwsKSdohS9ojSopgCUQDkA74kPHbpihkR9hDTA2714LgyhhAQwATUi3N
			kghE2d4/O4MBhBALA0MABmTjBN6aL0Icwp6uYkKoGnknlgia4astZLCVpDOPUTASBC4aLdh4Vpnn
			kKoYXkN5SAAQeVb4Sp0HgaCRQJNhA/OgPtcmnhnthiKBl/CBvBcxMJb213gQJBRBkJcPdCIdoV60
			b8NyKmBIEPMeBuR7RT5dcBCaMo0hy2hhb3RGRSooQInsD9MjXxerBvGT/EL58k654zOHsbu7edFh
			Vs9FtyTHICR0crEBLoExPIigCPKNQ1QnQcHaLiuZZ3VkDnEwhpVc/ZYaIz6iR8JOabIajDOB4ZGN
			TPqI8vZNjVnQTbSGOxlviq/yaHLesDDvq8FdEWK8DL8DojGYGH1I8rukRJviwujdYyIyt2lkmYBx
			A+cPR7LVyFRIWAxJiAOVY4uSxS0/I3sbdoeDW90vAW1xtehmqQWNI0HwRGMq4YiLzKZJeuC5R/8d
			le4mBIs62iX0Kl5Z9nchXUm4VV+Dj122RnYd8QDiCqYVn0ZcQ0id5JVkqNMsA4N7ILmZe7RB/nRM
			UPQgf6QCG7IQgTSiKDFugMyVhB9Dj1pCNXl6xYH7TFDCjrt4QpmuMAwx1swIFKVRUPwpyJQUEEcK
			Mkcrwpar1Z3UKcmcK3YmORa6tfSmyu+LMjmns2gHwJ0YqkaW9H8QkgopwYaHgIHRnHhV8P8IJPLE
			CRQDvN/3MECcTvdhQF28/hEGbFuOmQAdCLUyiUlySF4DupFZeLzMEGXCFDJBJ1ZZ0KahVIWgjA9M
			fcjWiEh89zgcxBs82YMeoJImmAf/ack1AZbkk5vDj43V9VZQCLVrBLpupsxqFTw+qojmeoHRMltB
			txncQ25oeBXATN8S78nW4gpByBMZbSsWmCjsR9kNhEexazZ/a1UPjSCBZigTAENnS9Ll0Hq0gkRV
			FpFGEV6nyqVjNAkbIevDIeuCZvJi+9aSaE3f4g4y5NW5WgLJGwBllC4zX4mxRykAWrJW2sfmqDZd
			jOK8DEowcXMyOWdJyaaXxY+8iRsFSIEjHHBBzAHlJ5DP2JNaGlq9PYOb1XPSQOEEN+Q9m8z2Ycv4
			YTznWp0kfdVkmbrjXSWZI7FU4AZRaZlPk3nEwMDzgnOJDDEBEwBATCSAEz9AkprQVjtYS4JVJFRj
			DUZX+bUYamzpOxlQwhjEUiK+pHeAvooXqrKbjgEQBIrrg1XZAYPfmyIkmSGNEbgflbgOzCJjy8DR
			OsSZAQdwHl3mRsXAi8x9yKY9maYqRjYZO1ka2JLYHcAdaNYUypqNhk1iva8ZXrI33IbAuH8N+z1H
			ezQDNpQUXC4J5G6FBAjSsH6cbJPWQPKSNuIJtIGUzvvwQGMb2m5EgF4ZGOL5NUQmbykC0hXKRViT
			ZRy8PUaFqGsK2FYVt+HXGIIPCpg/y8Jucq5A7ia/iQOabsmQL40QFT4Gs8+ygjqxzw6d1qxtygQR
			WBitA58Y2RFWtMC3CcoA+RbZf+IEPOWcyddQU0kgtFDjYsUuYs+iZdYLQmu+SsQwDeAHWIdfIrHp
			stAkq9yyL9S3bqpKDTqmt1WWY4DzhH3okF+rOZliFbsVGAGoQmMsRpMJWIs2u2SGDYizDAB2LVPB
			TpOIgGuJkCR+I2BpNRG+CPwEoaRblrU1ghRtkDnha2YGJy736tGXovJynhgDAXOI3khYnAGOAD6y
			c7Z72XSfm6VSkv2eWI2sNxFx1voYmQy8D3H+g3gIMhSvk2MDx1mZs8McdALKGpNScvgLmbNZXhQF
			f3CrRj04WiOOkHFHrUbfF8JoCArQIHeXZN35bAq3kkuSNYict5RIPje8HGRJFMoaPEp+lCWHEFpd
			wY0c30kqbRbkX2/ibyPBMpKm4pXF0sjMneyKabLZMzvxMaJDT+hSLyi9uuAZoQ1IipmRLRch1hVS
			0BkNCQPjARjzVtGzLOZZSWHPcpJ+w+oXl1MWTsA1f/lN/bgohAFSZiaTQPQYVpEVWbCGLO54D2va
			3FTb7huBunyzE/pqwsWff7t1+SnMPP0gz+0/8w6nX++Z046dtctm7j/5Xu/26tp22jak7d81IuXW
			T4U9T3v8guhmD7a5bDjSRnIZIN/5hwsy7Rc3vX58cvx2fTtvkORG2S7boU6MQ6PW9cn1QgfpvqG9
			d20vn8+/SIxm7fi5XD9tecIO4tqL664b2vZ9SPLoq7Bxp42/6zeAt98vk5sy+RWS7POXLfl2/XBB
			poOst+AxQoXfd7DJXSK5ERUwdlsbEsrKe4us8a5dttYWtfYnFCuLuPKQ/x1Buj/vXV+/advWNKGw
			dfvLDEeqt5e9Y+3xN1hhTd9dNbwdvxC7G5TTrzMQ6rNRAesdo/IwKGZ9dncN4ZzNE9IfHucpY33/
			Xf0fFDSNjNzCobsAAAZ3elRYdFJhdyBwcm9maWxlIHR5cGUgeG1wAAB4nO1dXY7yOgx99ypmCSHO
			Dyyn0Pbtk+7jXf49ThgobVJa+K7kShk0UEoSn2P7JGmNBP375x/6+fk5+ZPxxDce4zmacAocrsFH
			Z02wwYcYLmHg3tphvF6vo7U4fwlOzvjI3vVsXB+NY7Q9hwu5c+wiOnqOnRu8C3jFgMzoZC2PPJiO
			b/HMXTwHdAy9GAsna+R9uIUhsnxGYgFoXBgFB3f5g0fzhOQ5DM5dpYd79LDGn13vDVkBN8Z0ir0d
			mG0PPIZPDKsMvjh3YsdejnHuhrM2fW7tiNf8HMj2qVmXGnZoEq2ZPazQy8cgaYEFLb11zoUnQUoM
			84dC8hwdHoY7kBpj+rNDRCM7JNwR9k98kccDj8VzT3kQ20eOiJL4JZ5BDp6Sz59Y5ogAB8FDaGy4
			iO8IIR3DAIj3BnC8hW24WhDC092C6v0xi5rEYkkqIRqe0cQxQhJ60D0DsxGCCIKRqGbUNLcjOZMG
			75zA9ujmxDtehhzDjYeX0Bsk4ygt4Ox0aCQNPCPYxp59ymppDl+zvfAtIVkdnko+KKLyzuVXHlIe
			WZDrUzZBLOzJO7wxKY8ueDZ8tteUbnJsKlgmg/4CoQqSHoAdCIZ4WUeSgCBuhBcoCbnNVSTFQecu
			oQWSJNaQO5y2oREw9BZNZeB5xpMda0mfc36rSOi3w7ciIXTmgu4NBrLh9tS8tMOzR0cv054IHMma
			pYIJkJYK/6WQTHQhpKF68Q0PojNMtzew4OStzGaMgUQKr/KMD/38ykfcXxp2CoBsjtLXDqdph28c
			nqfaJZk9M1TqTdPuy+mqMC8sjXayDhFgwUN3PYkUOPms0nze+mmM3loTKhwfuYP5UUjBxXlqg2vK
			U+0iLrIOxzLRF/U/u0ia8ZDlaoc0ceSF0zOWaGwbLP7lmeUcjlhWY7y3jt2JsF7KG/SB7h1mSWkI
			PtPsyibqmKQtbaFQdf/Ef7TmwNlQq9lP2xfl9eyn7YuyBMH12KkVs562LcwYsJd8rxulF6vwkcMy
			m8Hu2w3Q06rsMCO8gUajt8k/Y5onEQYZPmd2abPzmI8m/DsnuyROK0eKpMNaNknTyz1N034NoxqX
			0tFZQuoV8nQ1TYtmaWp3bUNx7ziX8AMvfaKrEl4qAi7aXcdLqaOk/yVfNMDJtzqBOn7aR6CIP8Gg
			dzg2BACXNJDIXe9v5pvHfl/miFMlIctdZDJ7Kl0uw2R6wVXUPfvT5dYk/0myqLb4FLE99SgTCU/m
			ozDZZMKz4spK4zVz883odIhtqrsnAX2SxY8kmJilst39HsNmNEasCl48UN25rm/o02CUgT0H+yR6
			MW0icIhhThI5LEsxZ3XtGqh+CUSza6CZnZqZDZm9faF+1QLtF0NZC5VtzZoYkJSyNQ6vOqB9Qqib
			qiRkQQhhfTanfUKo66Dqo2ryVXRAEyGc0iWcS8+2LIS6DlYRLYVQ1wHtE0JdB7RPCHXc9IiHoJBY
			xJRouAZbRGzW4m1mf6Y3+mzxWeptR9TW9Ub7F56yKdqx8Cy2e9PdHu1feMpmi/ePPtEblW+ZVO6Y
			rOjtrfq36o32LzxlvdH+haeMm9bUtEdv1YvjfReiD63V94bWLHaxafM533tSCcO7Wy3Ttvl2dErI
			bHF+K36rm9/4aP/j/xloHxnd1EynDdEXAxXvHh+V2nqWHYzaHsmop/a5/hVS+2Yy00Zt4/XaMait
			BeZw1LZn2QGofSoZldT+jv51UJuVDhUg+mKgjXdGj0Fta5YdgtpnklFK7W/oXwu1jfePjkGtFphD
			UtuWZQeh9olk1FL7Xv96qBW/x3ZUauXAHJTaliw7DLX9klFM7Vv9a6K2sQpxDGqlwByW2vssOxC1
			vZJRTe07/euitvEbCMeg9vYrMUei9vabvkei1oqZSqm1YqZWaq2YqZVaK2YqpdaKmVqptWKmVmqt
			mKmUWitmaqXWiplKqbViplZqrZiplVorZiql1oqZWqm1YqZSaq2YqZVaK2ZqpdaKmUqptWKmVmqt
			mKmUWitmaqXWiplaqbViplJqrZiplVorZmql1oqZSqm1YqZWaq2YqZRaK2ZqpdaKmVqptWKmUmqt
			mKmVWitmKqXWiplaqbViplZqrZiplForZmql1oqZSqm1YqZWaq2YqZVaK2YqpdaKmVqptWKmuZcO
			iz+/6+VnEuTHN2LMv5xL/wH2E5O7D/HG8QAAAAFvck5UAc+id5oAACKtSURBVHja7d35g1TVmYdx
			AWlFCtsGyx0UVGiQBjUgIGhQbCWI4IaKG4gJKko0GuO+b0TELYlGM5nMZGYy+z7F3zdxDQ11u763
			7vI9773P5+f0rRf7nCfd1efWPekkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACQiBkzZ508e2Tk
			lFPnuCcBkKrT5nZ635t38unueQCkZ/SMsd7x5i9wTwUgLWd2en10z3LPBSAlZ/cynOOeDEAyzp3b
			y3SeezgAiZjZyS5Fr3O+ezwASbigN62F7vkAJGDRhb0BeLsCwEUjg0rR6y12DwnAbElncCl6F7un
			BOB1iRCKXu9S95gAnJYulErR67gHBWC0bFwrRa+33D0qAJsz1VD0eivcswJwOVsvRe8y97AAPFbO
			zVGK3oR7XAAWM5W/kf7FiHteAA4X5AoFqQBaafBRblIBYJVwlJtUAG0nHeUmFUDLaUe5SQXQaupR
			blIBtJl+lJtUAO2V4yg3qQBaK89RblIBtFS+o9xTcbAbaIucR7mnWu2eHkA98h7lJhVAC+U/yk0q
			gPYZ4ig3qQBa5/Iib1OQCqAlhjrKTSqAdhnyKDepAFpl2KPcpAJokyvKCAWpABpOP8rduezKH6wh
			FUAb6Ue5OwvXfvUFV5EKoH30o9zrRr/9khFSAbSNfJR7bPH3X0MqgJbRj3LPX/+XryIVQLvoR7k3
			HPtlpAJoFfkod+fqKV+XlYqN7n8QgArIR7lHNk39wqxULHT/iwCUTj/Kfc2i476UVACtoR/lPuOE
			ryUVQFvIR7k71574xaQCaIkfqqVYvbnPV5MKoBX0o9zX9f16UgG0gX6U+8z+FyAVQAusUEMxvizj
			CqQCaDz9KPfCpVnXWE0qgIbTj3Jfn30RUgE0nP6p3FumuQqpAJrtBjUUk6umuwypAJpMP8p945xp
			L0QqgAbTj3LfNOBKpAJoLv0o99ZBlyIVQGP9SC3FtpsHXisrFfPd/0gAxehHuU8ZHXy1rFRsd/8z
			ARSiH+W+RbkcqQAaST7K3d0hXY9UAA00Z41aip0LtCuSCqB59KPct6qXJBVA4+hHuW+Tr7mRVAAN
			Ix/lHrtdv+hCUgE0in6U+9iHhw1EKoBG0Y9yX5XruqQCaBL9KPcd+S5MKoAGkY9yT2zKeWVSATSG
			fpT7GuEo91SkAmgK/Sj3uvwXJxVAQ+hHue8c4uqkAmgE/Sh334eHDUQqgCbQj3LvGu4FslJxl/tf
			DkCnH+W+e8hXyErFPe5/OgCZfJQ78+FhA5EKILrd8lHu7IeHDUQqgOD0o9yXFHiV7aQCCE0/yn15
			kZchFUBo8lHu6R8eNhCpAALTj3KvmVPslUgFEJd+lPveoi9FKoCw5KPcnfsKvxapAILSj3JvW1n8
			1UgFEJN+lPv+3Hec90EqgJD0o9wPlPJ6pAKISD7KLT48bCBSAcSjH+VWHx42EKkAwtGPcl9Z2muS
			CiAa+Sh378HyXjQrFSe7/2sA6E8+yj22vMRX3ZPxInvd/zkA9KMf5X4oz8PDBrqHVACB7JP/Rvpw
			uS9MKoBA9KPcPy75lUkFEIZ+lHtibdmvTSqAKPSj3D8p4yj3VKQCCGKL/DbFrApenVQAMehHufdX
			8fKkAohAP8p96eZKBiAVQAD6Ue4hHx42EKkA0veIGoreo1WNQCqA5MlHuccfq2wGUgEkTj/KfWBG
			dVOQCiBt+lHuIg8PG4hUAEnTj3IvqXSOx0kFkC79KPdIsYeHDbQ343WfcP8nApDjKHfRh4cNlJWK
			g+7/RgD0o9w/rXwWUgGk6nr5bYp91Q9DKoA06Ue5y3h42ECkAkiSfpS7lIeHDUQqgBTpR7mfrGcg
			UgEk6Ck1FN2f1TQRqQCSox/l3rm7rplIBZAa/Sj30/UNRSqAxPxUfpvitBqnIhVAUvSj3KU+PGyg
			rFQccP8HA1pJP8r9TKkPDxvo51lz7HD/JwNaSD/K/WzNkx3MGmRyqfs/GtA6v1BD0Xmu7tEyU9Eb
			oRVArfSj3OU/PGygg9OMc+PWil50/fPDe2z/8Ja8MLQXb5E9SWMxFP0o90u1HOWe6qA6HHQbDN9I
			hKcf5X7ZMR6pqML4be5lh2hG9aPcZ1kGJBXV2Fnrn7wRnn6Uu6KHhw1EKqpS45FbhKcf5X7FNSKp
			qMwp7uWHMPSj3K/aZnzNvaEajFZAoh/lHn/dN+Ui+Qcf5EYrIFg1qS6o2RU+PGywN9z7qcmuc69C
			pE8/yv2md1B+rKiS589aCEQ/yl3tw8MEz7q3U5Ntc393kbbdb6lLaeQi96z8WFGpt93fXqRMP8p9
			4SL3rH/2sHs7NVr9t/UgDP0o9wr3qF/jx4oq7XR/e5Eq/Sh3Z6Z71m/Ncm+nRuN2EPSlH+WeW8fD
			wzTvuLdTk73r/u4iSfpR7qcSulF5dLV7PzXZZve3FwnSj3K/5x51is1d935qsCfc310kRz/K3T3k
			nvU4h9z7qcEm3d9cpEY/yv1ubQ8Pkz3o3lANxoefYwr9KPfP3aP2c697QzXXBvf3FkmRj3L3XnSP
			2t+mA+4t1VQ8qQ1/oR/lrvfhYblcPebeVM1EKvA9/Sj3M3Pcs05ng3tXNRKpwHf0o9y/dI86wMo9
			7n3VQKQC38hxlPt096yDvb7TvbMa53339xRp0I9yTxx2z6o6/PqdL1yx7o0rz35p+1vvYrBt033f
			z3B/O5EE/Si34+FhqMkGUoHp6Ue5X3OPiirdRiowjRxHufmUxYb7gFQgk36U+8j57llRtbmkAhm2
			yL98XOweFdU7nVSgP/0o94fuUVGHuaQCfehHucc/cs+KWnxAKnCiQ/JRbu/Dw1Cfg6QCJ9CPcn/g
			HhV1uZVU4Dg5jnKf554VtdlLKjCVfpR75Hn3rKgPqcBU98lHufek8PAw1IVUYAr9KPcF7lFRK1KB
			Y+hHuZN5eBhqkpWKl92DwUA/yp3Qw8NQj6xUPOoeDPV7Qf7l40fuUVE7UoHv6Ee5H3GPivqRCnwj
			x1Hu1B4ehjqQCnxNP8r9VnoPD0MNSAW+8p78y8fH7lHhQSqQ5yh371T3rDDZRSqgH+WeTPfhYajY
			PaSi9fSj3Jcl/fAwVIpUtJ7+kPBP3KPCiFS0XI6j3J+6Z4UTqWg3/Sj3vDAPD0MlSEWr6Ue53+Hh
			YS1HKtrsY7kUb7tHhRupaC/9KHf3V+5ZYUcqWks/yn1kgXtW+GWlgs9XbTr9KPfj7lGRgqxU3OEe
			DJUavV8uxa/dsyIJpKKV9KPcYzw8DF8jFW2kH+X+DQ8PwzcuJBXt8778y8dB96hIxnZS0TZzblRD
			0bnaPSvSQSraRj/KPbLJPSsSQipaRj/KzcPDcCxS0S76Ue5z3KMiLaSiTfSj3J1r3bMiMaSiRfSj
			3HPPdc+K1JCK9tCPcp/tHhXpIRVtkeMo9xXuWZEgUtESK7epoRhf5p4VKSIV7aAf5ebhYegrKxX7
			3IOhTPpR7l+4R0WiLstYMTvcg6E8+lHu3gvuWZGqhaSi8fSj3JOfuWdFskhF4+lHubfz8DBkIhVN
			px/lvsk9KlJGKppt97tqKDpb3bMiaaSi0fSj3Dw8DNMjFU2mH+W+h4eHYXqkorlyHOW+xT0rkkcq
			Gks/yt393D0r0kcqmko/yr2Rh4dhMFLRUPpR7r3uURECqWikHEe5eXgYJKSiiT6bVEMxttg9K4LY
			SSqaRz/KPX+9e1ZEsTpjDR1yD4ah6Ue5N7hHRRxZqVjrHgxDynGUm4eHQUcqGuZnXbUUEzw8DDmQ
			imbRj3Jfw8PDkAepaJIcR7nPcM+KYEhFg+hHuXl4GPIiFc2hH+Vevdk9K8IhFY2hH+W+zj0qAiIV
			DZHjKPeZ7lkREaloBv0oNw8Pw1BIRSPoR7kXLnXPiphIRRPoR7mvd4+KqCZIRXg5jnJvcc+KsEZI
			RXT6Ue7JVe5ZERepiO5J+ZePG3l4GIZHKmLLcZSbh4ehiKxU8JEnIeQ4ys3Dw1BIVircc0GxVT7K
			ve1m96wIjlQEph/lPoWHh6EgUhFWjqPcD7hnRXykIir9KHeXz1RGcaQiqFPlHyl28vAwlIBUxKQf
			5b7VPSqagVREpB/l7j3onhUNQSoC0o9yj93unhVNMU4qwtGPcj/ESTqUhVREk+Mo91XuWdEgY6Qi
			lhxHue9wz4omOZtUhKIf5ebhYSjVAlIRyU3yLx93cZQb5fotqQhjzna5FOvcs6Jx1ndIRRA5jnLf
			6Z4VDbSBVMTwnPwjBQ8PQxUWdfsstrnuqXC8Q3IpdrlHRUOt6LPa+HC11KyV//Rxt3tUNFafY1jn
			u2fCcb4QQ8HDw1CdfSf8Hxa/fyRnp1aKhTPcg6LJDh//4KDT3RPheGNSKS5xj4mGG71myoK70T0P
			TqCEonO5e0o03wXH/rq72T0NjrdUKMUIDw9DDe6bP/nVcpt455FzS7vm0e+5/3XhzRxcijU8PAx1
			Wbu/xIsdPY77HxfbHQNLca97RGAIR/tyTxXYwFTwwXiI6OhRWlGugangRlIEdPQorSjZoFSMuAcE
			8js6HfdwQQ1KxYXuAYHcjh6lFaUblIr57gGB3I7SivINSsU294BAXoNKQSyGMSgV4+4BgZyEUtCK
			/Ab+BeQc94RAPlIqaEVeawelordnkXtGIA8tFbQir4Gp6I3waf6IREwFscjpncGt6FztHhKQyaWg
			FfnMGR/cCp48iDhypIJW5LJfSEVvPs8zRhB5UkErcvmF0oqx291jApJcqSAWucxTWsEtpoghZypo
			RQ6fSanofemeExDkTQWtyGGW1oqdC9yDAgPlTgWxyGGh1oruDvegwCBDpIJWyDarjxh70j0pMMAw
			qaAVshfFVPTu51OxkLahUkErZC+prZi70j0qMJ3hUkEsZLvUVnT2uUcFpjFsKmiF6lW1Fb0V7lGB
			bEOnglaoPtIeX/pnv+O+dCRr+FTQCtX6+WorRp53zwpkKJAKYiG7Sn7D4jz3qEB/hVJBK1TPqQcs
			eh+4RwX6KpYKWqE6rN079mezZ7hnBfoomApioRr9Qm3F2EfuWYETFU4FrVA9oLai92v3qMAJiqeC
			Vqh2dNVW7HWPChyvhFTQCtXud9VWbOS+dCSmjFQQC5n0IXpf6X7uHhWYopxU0ArVFvmvpre4RwWO
			VVIqaIVq1YjailO4Lx0JKSsVtEK16HdqK7ZxXzrSUVoqiIXsHLUVnfvcowLfKTEVtEJ1Z1eNxb3u
			UYFvlZkKWqHafKnaijVz3LMCXys1FcRCdrHaipFV7lGBr5ScClqh+rX8hsUS96jASeWnglaoFssf
			jvWme1SgglTQCtX6h9RWHOC+dNiVnwpiIXtDbcX46+5R0XpVpIJWqD6Vj3m/6h4VbVdJKmiF6vA2
			tRUXu0dFy1WTClqhGr1fbcWR892zotUqSgWxkL2ntqL7K/eoaLPKUkErVIfG1Vi87R4VLVZdKmiF
			avdCtRXvcF86XCpMBbGQ3aC2Yt5h96hoq0pTQStUS9S/mnY+dY+Klqo2FbRC9bz84Vg3uUdFO1Wc
			ClqhWrRHbcV27kuHQdWpIBaydWorJrkvHfWrPhW0QnVWV43FFveoaJ8aUkErVOcfUVtxg3tUtE4d
			qaAVsr1qKxYudY+KlqklFcRCdpvaivFl7lHRLjWlglaolssfjvWoe1S0Sl2poBWq9ZeprdjlHhVt
			UlsqiIXsE7UVl252j4r2qDEVtEK1VT3m3d3vHhWtUWcqaIVqpfzhWLPco6Itak0FrVCNPqW24iXu
			S0ct6k0FsZBdobZigvvSUYe6U0ErVMvUD8fqnO4eFW1QeypohWrGAfUHizfco6IF6k8FrZC9qbbi
			Mu5LR9UMqSAWsvPUv5pOLnePiqazpIJWqDZNqD9YnOoeFQ3nSQWtUI3epbbiY/eoaDZTKoiF7GW1
			FW/tdo+KJrOlglao5A/H4r50VMiXClqhWrBR/cHiCveoaC5jKmiF7Eu1FWe7J0VjOVNBLGSnqa1Y
			vdk9KhrKmwpaoVo+Kbaic6d7VDSTORW0QjVnu/qDxTr3qGgkdypohex9tRXXcF86yucuBbHQ7VOP
			eU9sco+K5nF3glbksHKu+obFj92jonHcmaAVuZyt/hLysHtSNI27EsQin7vVVjy03j0qmsXdCFqR
			02Pqh2ONcV86yuROBK3Ia8Zs9QeL09yjoknchaAV+R1UW/G0e1I0iDsQxGIId6h/Nd3JfekoizsP
			tGIY8odjdQ+5R0VTuOtAK4Yy+pL6S8gj7lHREO440Iohva224in3pGgGdxuIxbA+74qtmLvSPSqa
			wF0GWjG0BTvFVnRmukdFA7jDQCsKeFr9JeQc96SIz90FYlHEqWor9ixyj4ro3FWgFYWsmhRbMcJ9
			6SjGHQVaUcycNeobFle7R0Vs7ibQiqJWqL+EbHBPitDcSSAWhc1Uj3nP5750DM8dBFpR3LmrxVaM
			LXaPirjcPaAVZdil/hLyoHtShOXOAa0oxaNqK750T4qo3DUgFuX4aExsxc4F7lERk7sFtKIkM+aL
			rejucI+KkNwpoBWluUr9JeRJ96SIyF0CYlGe59S/mt7P48eQm7sDtKJEh+eJrdjGfenIy50BWlGm
			0S/EVnT2uUdFNO4K0IpyPaC+YbHCPSmCcUeAWJRsR1dsxYXcl4483AmgFWXb/a7YipGL3KMiEncB
			aEX5PlbfsFjinhSBuANAKyqwRf2r6QfuSRGHe/8TiyqsGhFbMXuGe1RE4d79tKISiy4UWzH2kXtU
			BOHe/LSiIueIreh96J4UMbj3PrGoyrVdsRV73ZMiAvfGpxXV2Xyp2IqNqd2X/vxps57YdTFPZk6J
			e9vTikq9Irai+7l70mNdu/DbsSavv9k9C77l3vS0omIfqm9Y3OKe9HvPbTu2YZvd45Trr35f1F//
			YVoVze3e8cSieovVD8c6JY370kdPnjrWtlLH+puC/ta97i3++HfuCQpxL+kw1j8ktmJbCj/sL504
			fqzflXh196KFhXtRx/Gs2IrOVvekJ432eUpBaQ86cq9Y2LjXdRifqse833dPur3fVJ+Vc233coWR
			e2GHIX841po51jnf7zvUK6Vc271YYWVd15GM3i+2YmSVccrd/X/66ZZxbfdShZlxXQfznvqGxeW+
			GbN6VsJ7KO6FCj/fwg7m0LgYi0tsI2Y9efWdwld2r1KkwLawo9m9UGzFAdd96VmpmCx6YfcaRRpM
			6zqgG8RWjL/umS/zee5LC17YvUSRCM+6jmiJ+lfTVy3jZaai4JMT3QsU6bAs7IguUj8cq5w/UOZU
			USrcqxMpcSzskBbtEVtx5Pz6hyMVqF796zqqM8RWdM+qfbRqUuFemkhN7Qs7qv1dMRav1T0ZqUAt
			6l7YYZ1/RGzFOzXfl15JKtp53zimVe+6juxxsRXzDtc6ViWp+Hv3skSCal3Xod0mtqLzaZ1TZaZi
			ZoGLkgr0U+fCDm25+uFYn9Q4VGYq7ihwUVKBvmpc2LGtf0Zsxfb67kuvJBX/4F6SSFRt6zq8T8RW
			TNZ2X3olqYj9uZCoUF3rOr6t6jHvLTUNRCpQr5oWdnwrt4mtuL6eeUgFalbPwm6A0afEViwsem+n
			hFSgbjXttAZ4RGzF+LIahiEVqF9dWy28ZeqHY91d/SykAga17bXolh4QW7Gr8lFIBRzq22zRvSm2
			YvXmigchFbCocbMFd574V9Pu/mrnIBUwqXW/RbZJ/XCsWZWOQSrgUu+GC2z0LrEVP6nyvnRSAZu6
			t1xcs8RWTKytbgZSAZ/at1xYZ3W1VnROr2wEUgGn+jddUAs2ij9YvFHVBKQCVoZdF9StYiueqei+
			dFIBL8u2C+k0sRVjyyt5eVIBN8/GC2j5pBiLU6t4dVIBO9POi2fOdrEVH1fw4pmpeLHARUkFcjHt
			vIDeF1vx1u7SXzozFY8WuCipQD6+vRfNfeIx7/LvSycVSIJx98Wycq74g8UVJb8wqUAanNsvlh+K
			rTi73JclFUiEdfuFcqbYitXnlvmqpAKpMG/AQB4TPxyrc22JL0oqkA73FgxjxmzxB4t15b0mqUBC
			3FswjoNiK64p7b50UoGUuHdgHHeIfzWd2FTSC5IKpMW9BcPYNCG+YVHk4PUxSAUS496CYYy+JP4S
			8nApL0cqkBr3FozjbbEVD60v4cVIBZLj3oFxfN7VWlHGfemkAglyb8EwFuwUf7A4rfBLkQqkyL0F
			43habMVvi74QqUCS3DswjlPFVuwseF86qUCa3Dswjs8mtVZ0f1boZUgFUuXegmHMWSP+YPFekVch
			FUiWewvG8VOxFU8VeI1KUvFH9xpDM7h3YBwzxWPec1cO/RKZqfhBgbndKwyN4d6CYZy7WmtFZ+aw
			r5D5AmcUGNu9vtAc7i0Yx3XiLyEXDHl9UoG0uXdgHI+KrdizaKjLkwokzr0D4/hoTGvFyFD3pZMK
			JM+9BcOY8RvxDYurh7g4qUD63FswjqvEX0I25L80qUAA7h0Yx4/Fv5r+Jvd96aQCEbh3YByHxQ/H
			Gluc88KkAjG4t2AYo1+Iv4Tclu+6pAJBuLdgHLeIrbg111VJBaJw78A4dnS1VuxckOOipAJxuLdg
			GLvf1VrR3aFfk1QgEPcWjONj8ZeQB+QrkgpE4t6BcWwR/2p6v/r4MVKBUNw7MI5VI1orton3pZMK
			BOPegmEsulBrRWefdDlSgWjcWzCOC8Q3LFYoFyMVCMe9A+O4VnzDYo1wXzqpQDzuHRjH5ku1Voxc
			NPBSpAIRubdgHCeLb1gsGXShzFQ8W2A69zpC87l3YBwfim9YPDHgOpmpOFhgOPcyQgu4d2Ac6odj
			zZ4x7WVIBaJyb8Ew1j+ktWL8o+muQioQlnsLxvGs+EvIh9Ncg1QgLvcOjON08a+mj2dfglQgMPcO
			jOPwPK0VRzLvSycVCM29BcMY/ZPWiu7nGRcgFYjNvQXjeFJ8w+KW/l9OKhCcewfGcWhca8U9fe9L
			JxWIzr0D49j9ltaKeTf3+WJSgfjcWzCOG7RWdLae+KWkAg3g3oFxLBH/avr+CV9JKtAE7h0Yx0Xi
			h2OtmXPcF5IKNIN7C4axaI/WislVU7+OVKAh3FswjjPENywun/JVpAJN4d6BcezvarG45NgvIhVo
			DPcOjGPzEa0VB465L72KVPyje8mgrdxbMI7HtVaMP/b9V1SRin9yLxi0lnsHxnGb1oreq999AalA
			o7h3YBy3ix+O9cq3//vMVFw5/AykAj7uHRjH+me0Vsxd+/X/PDMVe4cfgVTAyb0F4/il1orOk3es
			+/iGCVKBpnHvwDi2ise8p7V3+NcnFfBy78A4Vm4jFWg19xYMY/R+Zyo4ggU79xaM4xFSgVZz78A4
			lokfjkUq0EzuHRjH0oWkAq3m3oJxvEkq0GruHRiH+uFYpALN5N6BcWwSPxyLVKCZ3DswjkV3kQq0
			mnsLxjGLVKDV3DswjrO6pAJt5t6BcSzYSCrQau4tGMetpAKt5t6BcZxGKtBq7h0Yx3Lxw7FIBZrJ
			vQPjmLOdVKDV3FswjpvypeJPBV7KvSiAPtw7MI77ch3zvqfAK7nXBNCPewfGsXIuqUCbuXdgID8i
			FWgz9wYM5ExSgRZz779I5A/HIhVoHvf2C2XGbFKBtnLvvmA+IBVoKffei+Zq5a+mpAIN5N570Wya
			GJyKWwtc370egAzurRfO6E8GpmJVgcu71wOQwb3zAnptQCl2Frm4ez0AGdz7LqId039C76+KXNu9
			HoAM7m0X08vTvLv5ZaEru9cDkMG96YJa/3hWKSZHC13YvR6ADO49F9amL/qWYmJxscu61wOQwb3j
			Apux4cST3s8Wvah7PQAZ3Pstttum3pv+1vNFL/jP7vUAZHBvtugObe9+Y2zPq+uLX45UIFXurYYp
			SAVS5d4bmIJUIFHurYGpSAUS5d4amIpUIFHurYGpSAXS5N4ZOA6pQJLcGwPHIxVIkXtf4ASkAily
			7wucgFQgQe5tgRORCqTHvSvQx7+4VwVwAveuQB+kAslxbwr0QyqQGveeQF+kAolxbwn0RyqQFveO
			QAZSgaS4NwSykAqkxL0fkIlUIB3u3YBpkAokw70ZMB1SgVS49wKmRSqQCPdWwPRIBZLg3ggYhFQg
			Be59gIFIBRLg3gYYjFTAzr0JoCAVcHPvAUhIBczcWwAaUgEv9w6AiFTAyb3+ISMVMHIvf+hIBXzc
			qx85/Kt7taC13GsfuZAKmLiXPvL5N/eCQUu5Vz5y+nf3ikE7uRc+8iIVMHAve+RHKlA/96rHEEgF
			aude9BgGqUDd3GseQyEVqJd7xWNIpAK1ci94DItUoE7u9Y6hkQrUx73aUQCpQG3cix1F/Id7+aA1
			3Gsdhfyne/2gLdxLHcWQCtTCvdBRFKlAHdzrHIWRCtTAvcxRHKlA5dyLHGUgFaiae42jFKQCFXMv
			cZSDVKBa7hWOkpAKVMm9vlEaUoEKuZc3ykMqUB336kaJSAUq417cKBOpQEXcSxvlIhWohntlo2Sk
			ApVwL2yUjVSgAu5ljfKRCpTPvapRgd+7VxWax72oUQVSgbK51zQqQSpQLveKRkVIBUrlXtCoCqlA
			mdzrGZX5L/faQoO4VzMq9N/u1YXmcC9mVIlUoCzutYxKkQqUxL2UUa3/cS8wNIN7IaNqpAJlcK9j
			VI5UoATuZYzqkQoU5l7EqAOpQFHuNYxakAoU5F7CqAepQDHuFYyakAoU4V6/qM3/utcaInMvX9SH
			VGB47tWLGpEKDM29eFEr93JDVO6Vi5q5FxyCci9c1M294hCTe92ifu41h4DcixYO7lWHeNxrFh7u
			dYdo3CsWJu6Fh2DcCxY27qWHSNyrFU7u1Yc43GsVVu7lhzDcSxVm7gWIGNzrFH7uNYgI3KsUKXCv
			QqTPvUaRBvc6ROrcKxSpcK9EJM29PJEQ92JEwtyLE2lxr0ekyr0ykRr3ikSa3OsSCfpDo33zL6zo
			P93/uTc0oQBicO9pSgHE4N7VlAKIwb2vCQUQg3trUwogBPfephRACO7NTSmAENy7m1AAIbj3N6UA
			QnBvcEoBhODe4YQCCMG9xykFEIJ7k1MKIAT3LqcUQAjubU4ogBDcG51SACG4dzqlAEJwb3VKAYTg
			3uuEAgjBvdspBRCCe7tTCiAC93YnFEAI7g1PKYAQ3DueUgAhuLc8pQBCcO95QgGE4N71lAIIwb3t
			KQUQgnvfEwogBPfOpxRACO6tTymAENx7n1IAIbg3P6EAQnBvf0oBhODe/5QCCMEdAEoBhOAuAKEA
			QnA3gFIAIbgjQCmAENwVIBRACO4OUAogBHcIKAUQgrsElAIIwZ0CQgGE4I4BpQBCcNeAUgAhuHNA
			KIAQ3EGgFEAI7iJQCiAEdxIoBRCCuwmEAgjBXQVKAYTgzgKlAEJwd4FQACG4y0ApgBDcaaAUQAju
			NlAKIAR3HAgFEII7D5QCCMHdB0oBhOAOBKUAQnAXglAAIbgbQSmAENyRoBRACO5KEAogBHcnKAUQ
			gjsUlAIIgVIAEBAKAAJKAUBAKQAICAUAAaUAIKAUAASUAoCAUAAQUAoAAkoBQEApAAgIBQABpQAg
			oBQABIQCgIBSABBQCgACSgFAQCgACCgFAAGlACAgFAAElAKAgFIAEFAKAAJCAUBAKQAIKAUAAaUA
			ICAUAASUAoCAUgAQEAoAAkoBQEApAAgoBQABoQAgoBQABJQCgIBQABBQCgACSgFAQCkACAgFAAGl
			ACCgFAAElAKAgFAAEFAKAAJKAUBAKAAIKAUAAaUAIKAUAASEAoCAUgAQUAoAAkIBQEApAAgoBQAB
			pQAgIBQABJQCgIBSABAQCgACSgFAQCkACCgFAAGhACCgFAAElAKAgFIAUBAKAAJKAUBBKAAIKAUA
			BaEAICEUABR0AoCEUAAAAAAAAAAAAAAACvh/g5Mn5My5j3wAAAEuZVhJZk1NACoAAAAIAAcBEgAD
			AAAAAQABAAABGgAFAAAAAQAAAGIBGwAFAAAAAQAAAGoBKAADAAAAAQACAAABMQACAAAAHgAAAHIB
			MgACAAAAFAAAAJCHaQAEAAAAAQAAAKQAAADQAAAAhAAAAAEAAACEAAAAAUFkb2JlIFBob3Rvc2hv
			cCBDUzYgKFdpbmRvd3MpADIwMjE6MTI6MDUgMTM6MTg6NDMAAAOgAQADAAAAAf//AACgAgAEAAAA
			AQAABCqgAwAEAAAAAQAAAwsAAAAAAAAABgEDAAMAAAABAAYAAAEaAAUAAAABAAABHgEbAAUAAAAB
			AAABJgEoAAMAAAABAAIAAAIBAAQAAAABAAABLgICAAQAAAABAAAAAAAAAAAAAABIAAAAAQAAAEgA
			AAAB+CJtvgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0xMi0wNVQxMjoyMDowMyswMDowMOTpFfIA
			AAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMTItMDVUMTI6MjA6MDQrMDA6MDBQE5PAAAAAKXRFWHRk
			Yzpmb3JtYXQAYXBwbGljYXRpb24vdm5kLmFkb2JlLnBob3Rvc2hvcOStn1QAAAAVdEVYdGV4aWY6
			Q29sb3JTcGFjZQA2NTUzNTN7AG4AAAAhdEVYdGV4aWY6RGF0ZVRpbWUAMjAyMToxMjowNSAxMzox
			ODo0M9DqIxIAAAATdEVYdGV4aWY6RXhpZk9mZnNldAAxNjTMeysUAAAAGXRFWHRleGlmOlBpeGVs
			WERpbWVuc2lvbgAxMDY2eKfyNwAAABh0RVh0ZXhpZjpQaXhlbFlEaW1lbnNpb24ANzc56S3zygAA
			ACt0RVh0ZXhpZjpTb2Z0d2FyZQBBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKeepxzsAAAAc
			dEVYdGV4aWY6dGh1bWJuYWlsOkNvbXByZXNzaW9uADb5ZXBXAAAAKHRFWHRleGlmOnRodW1ibmFp
			bDpKUEVHSW50ZXJjaGFuZ2VGb3JtYXQAMzAyRSRqXQAAACx0RVh0ZXhpZjp0aHVtYm5haWw6SlBF
			R0ludGVyY2hhbmdlRm9ybWF0TGVuZ3RoADDWPa3AAAAAH3RFWHRleGlmOnRodW1ibmFpbDpSZXNv
			bHV0aW9uVW5pdAAyJUBe0wAAAB90RVh0ZXhpZjp0aHVtYm5haWw6WFJlc29sdXRpb24ANzIvMdqH
			GCwAAAAfdEVYdGV4aWY6dGh1bWJuYWlsOllSZXNvbHV0aW9uADcyLzF074m9AAAAFXRFWHRwaG90
			b3Nob3A6Q29sb3JNb2RlADNWArNAAAAAF3RFWHR0aWZmOlhSZXNvbHV0aW9uACAgIDEzMk4nCckA
			AAAXdEVYdHRpZmY6WVJlc29sdXRpb24AICAgMTMyoXW/KAAAACh0RVh0eG1wOkNyZWF0ZURhdGUA
			MjAyMS0xMi0wNVQxMDo1OTowOCswMTowMCIZZzoAAAAtdEVYdHhtcDpDcmVhdG9yVG9vbABBZG9i
			ZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKX3vDKQAAAAqdEVYdHhtcDpNZXRhZGF0YURhdGUAMjAy
			MS0xMi0wNVQxMzoxODo0MyswMTowMM7fJs8AAAAodEVYdHhtcDpNb2RpZnlEYXRlADIwMjEtMTIt
			MDVUMTM6MTg6NDMrMDE6MDDye3VxAAAAOXRFWHR4bXBNTTpEb2N1bWVudElEAHhtcC5kaWQ6NTUy
			QTVCNUVCMzU1RUMxMUIyQ0FEQUI2QzA0OTIzNEYpshnxAAAAOXRFWHR4bXBNTTpJbnN0YW5jZUlE
			AHhtcC5paWQ6MkRGQjBCQ0FCRjU1RUMxMUIyQ0FEQUI2QzA0OTIzNEamaBXaAAAAQXRFWHR4bXBN
			TTpPcmlnaW5hbERvY3VtZW50SUQAeG1wLmRpZDo1NTJBNUI1RUIzNTVFQzExQjJDQURBQjZDMDQ5
			MjM0RoBIOzEAAAAASUVORK5CYII=" />
		</svg>
                </a>
    
                <div class="h-100" id="leftside-menu-container" data-simplebar>
                    <ul class="side-nav">
                        <li class="side-nav-title side-nav-item">Navigation</li>
                        <li class="side-nav-item">
                            <a href="{{ path('adminHome') }}" class="side-nav-link">
                                <i class="fas fa-home"></i>
                                <span> Tableau de bord </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarAnnonce" aria-expanded="false" aria-controls="sidebarAnnonce" class="side-nav-link">
                                <i class="fas fa-store"></i>
                                <span> Annonce </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarAnnonce">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{{ path('adminAnnonces') }}">Annonces</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('adminAnnonceDetail') }}">Annonce détail</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarUtilisateur" aria-expanded="false" aria-controls="sidebarUtilisateur" class="side-nav-link">
                                <i class="fas fa-users"></i>
                                <span> Utilisateur </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarUtilisateur">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{{ path('adminUtilisateurs') }}">Utilisateurs</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('adminUtilisateurDetail') }}">Utilisateur détail</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarTransaction" aria-expanded="false" aria-controls="sidebarTransaction" class="side-nav-link">
                                <i class="fas fa-hand-holding-usd"></i>
                                <span> Transaction </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarTransaction">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{{ path('adminTransactions') }}">Transactions</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('adminTransactionDetail') }}">Transaction détail</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="{{ path('adminLogs') }}" class="side-nav-link">
                                <i class="fas fa-history"></i>
                                <span> Logs </span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        
            <div class="content-page">
                <div class="content">
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="notification-list">
                                <div class="nav-link nav-user me-0">
                                    <span>
                                        <span class="account-user-name">{{ app.user.prenom }} {{ app.user.nom }}</span>
                                        <span class="account-position">Administrateur</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>


        <script src="{{ asset('js/vendor.min.js') }}"></script>
        <script src="{{ asset('js/app.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            $(document).ready(function(){
                $('.count').each(function () {
                    $(this).prop('Counter',0).animate({
                        Counter: $(this).text()
                    }, {
                        duration: 3000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
                });
            });
        </script>
        
    </body>
</html>