<footer class="text-center text-lg-start bg-dark text-light mt-5">
	<div class="container p-4">
		<div class="row">
			<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
				<h5 class="text-uppercase">Qui sommes-nous ?</h5>
				<p>Re-tech permet de donner une seconde vie aux objets de tous les jours, et de se débarasser de ce qui ne sert plus de la manière la plus responsable qui soit. Conçu
					<span class="fw-bold">pour</span>
					les utilisateurs, nous visons à rendre la plateforme la plus accessible que possible pour vous faciliter la vie !
				</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Catégories</h5>

				<ul class="list-unstyled mb-0">
					<li>
						<a href="{{ path('annonces-tag', {'nom': 'Smartphone' }) }}">Smartphones</a>
					</li>
					<li>
						<a href="{{ path('annonces-tag', {'nom': 'Ordinateur' }) }}">Ordinateurs</a>
					</li>
					<li>
						<a href="{{ path('annonces-tag', {'nom': 'Audio' }) }}">Audio</a>
					</li>
					<li>
						<a href="{{ path('annonces-tag', {'nom': 'Périphérique et accessoire' }) }}">Accessoires</a>
					</li>
					<li>
						<a href="{{ path('annonces-tag', {'nom': 'Console' }) }}">Consoles</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">À propos</h5>

				<ul class="list-unstyled">
					<li>
						<a href="{{ path('pdc') }}">Politique de confidentialité</a>
					</li>
					<li>
						<a href="{{ path('mentions') }}">Mentions légales</a>
					</li>
					<li>
						<a href="{{ path('mentions') }}#cgv">Conditions générales de vente</a>
					</li>
					<li>
						<a href="{{ path('faq') }}">FAQ</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
