{% set wishlistIdAnnonce = [] %}
{% for wish in wishlist %}
	{% set wishlistIdAnnonce = wishlistIdAnnonce|merge([wish.id_annonce.id]) %}
{% endfor %}

<div class="container popular my-3 px-4 pt-2 pb-4 shadow bg-white">
	<div class="row">
		<div class="col-6">
			<h3 class="mb-1">Annonces boostées</h3>
		</div>
		<div class="col-12 px-3 d-lg-block d-none">
			<div id="carouselProduitsBoostes1" class="carousel slide" data-ride="carousel">
				<button class="carousel-control-prev text-dark w-0" type="button" data-bs-target="#carouselProduitsBoostes1" data-bs-slide="prev">
					<span class="fas fa-arrow-alt-circle-left fa-3x" aria-hidden="true"></span>
				</button>
				<button class="carousel-control-next text-dark w-0" type="button" data-bs-target="#carouselProduitsBoostes1" data-bs-slide="next">
					<span class="fas fa-arrow-alt-circle-right fa-3x" aria-hidden="true"></span>
				</button>
				<div class="carousel-inner">
					{% for i in 1..((annonces |length / 4) | round(0, 'ceil')) %}
						{% set active = '' %}

						{% set length = 4 %}
						{% if loop.first %}
							{% set start = 0 %}
							{% set active = ' active' %}
						{% else %}
							{% set start = (length *i - length) %}
						{% endif %}
						<div class="carousel-item{{ active }}">
							<div class="row">
							{% for annonce in annonces | slice(start,length) %}
								{% set imgUrl = null %}
								<div class="col-lg-3 col-md-6 col-12">
									<div class="card annonce pb-4 mt-3">
										{% for image in annonce.images %}
											{% if image.presentation %}
												{% set imgUrl = image.nom %}
											{% endif %}
										{% endfor %}
										<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
											<img draggable="false" class="card-img-top" src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'article {{ annonce.titre }}"/>
										</a>
										<div class="card-body bg-white position-absolute bottom-0 start-0 end-0 pt-2 pb-0 px-3">
											<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
												<h3 class="card-title mb-3">{{ annonce.titre }}</h3>
											</a>
											<div class="d-flex justify-content-between h2">
												{% if app.user %}
													{% if annonce.id_compte.id != app.user.id %}
														<span data-id="{{ annonce.id }}">
														{% if annonce.id in wishlistIdAnnonce %}
															<i class="fas fa-heart"></i>
														{% else %}
															<i class="far fa-heart"></i>
														{% endif %}
														</span>
													{% endif %}
												{% endif %}
												<p class="price">{{ annonce.prix }}€</p>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-12 px-3 d-md-block d-lg-none d-none">
			<div id="carouselProduitsBoostes2" class="carousel slide" data-ride="carousel">
				<button class="carousel-control-prev text-dark w-0" type="button" data-bs-target="#carouselProduitsBoostes2" data-bs-slide="prev">
					<span class="fas fa-arrow-alt-circle-left fa-3x" aria-hidden="true"></span>
				</button>
				<button class="carousel-control-next text-dark w-0" type="button" data-bs-target="#carouselProduitsBoostes2" data-bs-slide="next">
					<span class="fas fa-arrow-alt-circle-right fa-3x" aria-hidden="true"></span>
				</button>
				<div class="carousel-inner">
					{% for i in 1..((annonces |length / 2) | round(0, 'ceil')) %}
						{% set active = '' %}

						{% set length = 2 %}
						{% if loop.first %}
							{% set start = 0 %}
							{% set active = ' active' %}
						{% else %}
							{% set start = (length *i - length) %}
						{% endif %}
						<div class="carousel-item{{ active }}">
							<div class="row">
							{% for annonce in annonces | slice(start,length) %}
								{% set imgUrl = null %}
								<div class="col-lg-3 col-md-6 col-12">
									<div class="card annonce pb-4 mt-3">
										{% for image in annonce.images %}
											{% if image.presentation %}
												{% set imgUrl = image.nom %}
											{% endif %}
										{% endfor %}
										<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
											<img draggable="false" class="card-img-top" src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'article {{ annonce.titre }}"/>
										</a>
										<div class="card-body bg-white position-absolute bottom-0 start-0 end-0 pt-2 pb-0 px-3">
											<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
												<h3 class="card-title mb-3">{{ annonce.titre }}</h3>
											</a>
											<div class="d-flex justify-content-between h2">
												{% if app.user %}
													{% if annonce.id_compte.id != app.user.id %}
														<span data-id="{{ annonce.id }}">
														{% if annonce.id in wishlistIdAnnonce %}
															<i class="fas fa-heart"></i>
														{% else %}
															<i class="far fa-heart"></i>
														{% endif %}
														</span>
													{% endif %}
												{% endif %}
												<p class="price">{{ annonce.prix }}€</p>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-12 px-3 d-sm-block d-md-none d-none">
			<div id="carouselProduitsBoostes2" class="carousel slide" data-ride="carousel">
				<button class="carousel-control-prev text-dark w-0" type="button" data-bs-target="#carouselProduitsBoostes2" data-bs-slide="prev">
					<span class="fas fa-arrow-alt-circle-left fa-3x" aria-hidden="true"></span>
				</button>
				<button class="carousel-control-next text-dark w-0" type="button" data-bs-target="#carouselProduitsBoostes2" data-bs-slide="next">
					<span class="fas fa-arrow-alt-circle-right fa-3x" aria-hidden="true"></span>
				</button>
				<div class="carousel-inner">
					{% for i in 1..((annonces |length / 1) | round(0, 'ceil')) %}
						{% set active = '' %}

						{% set length = 1 %}
						{% if loop.first %}
							{% set start = 0 %}
							{% set active = ' active' %}
						{% else %}
							{% set start = (length *i - length) %}
						{% endif %}
						<div class="carousel-item{{ active }}">
							<div class="row">
							{% for annonce in annonces | slice(start,length) %}
								{% set imgUrl = null %}
								<div class="col-lg-3 col-md-6 col-12">
									<div class="card annonce pb-4 mt-3">
										{% for image in annonce.images %}
											{% if image.presentation %}
												{% set imgUrl = image.nom %}
											{% endif %}
										{% endfor %}
										<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
											<img draggable="false" class="card-img-top" src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'article {{ annonce.titre }}"/>
										</a>
										<div class="card-body bg-white position-absolute bottom-0 start-0 end-0 pt-2 pb-0 px-3">
											<a href="{{ path('annonce-single', {'id': annonce.id}) }}">
												<h3 class="card-title mb-3">{{ annonce.titre }}</h3>
											</a>
											<div class="d-flex justify-content-between h2">
											{% if app.user %}
												{% if annonce.id_compte.id != app.user.id %}
													<span data-id="{{ annonce.id }}">
													{% if annonce.id in wishlistIdAnnonce %}
														<i class="fas fa-heart"></i>
													{% else %}
														<i class="far fa-heart"></i>
													{% endif %}
													</span>
												{% endif %}
											{% endif %}
												<p class="price">{{ annonce.prix }}€</p>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>



