{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}

	<h1>Mon compte</h1>
	<div class="container  mt-5 container-blanc p-4 bg-white">
		<div class="row">
			<div class="col-3 d-flex align-items-center justify-content-center"></div>
			<div class="col-9  ">
				<div class="row ">
					<div class="col-11 d-flex justify-content-start info-container " data-bs-placement="left">
						<div class="col-3">
							{% if app.user.nom and app.user.prenom  %}
								<h3>{{app.user.nom}}
									{{app.user.prenom}}</h3>
							{% else %}
								<h3>{{app.user.pseudo}}</h3>
							{% endif %}
						</div>
						<div
							class="col-5">
							<!-- Ma condition est pourrie, a changer -->
							
								<span style="font-size: 24px; color: #009C9F;">
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
								</span>
						
						</div>
					</div>
					<div class="col-1 d-flex justify-content-end option-compte">
						<li class="nav-item dropdown" style=" list-style-type: none;">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span style="font-size: 24px; color: rgb(219, 219, 219);">
									<i class="fas fa-cogs"></i>
								</span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('userModif')}}">
										<i class="fas fa-pen"></i>
										Modifier mes informations</a>
								</li>
								<li>
									<a class="dropdown-item " data-bs-toggle="modal" data-bs-target="#exampleModal">
										<i class="fas fa-trash-alt"></i>
										Supprimer mon compte</a>
								</li>
								<li>
									<a class="dropdown-item" href="">
										<i class="far fa-comment"></i>
										Contacter le support</a>
								</li>
							</ul>
						</li>
					</div>
				</div>
				<div class="row">
					<h5>{{app.user.email}}
					</h5>
				</div>
				<div class="row">
					<div class="col-6">
						{% if app.user.description %}
							<p style="color: #CACACA;">{{app.user.description}}</p>
						{% else %}
							<p style="color: #CACACA;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta aspernatur, maxime quidem enim commodi quaerat magnam laudantium tempore sint dolores ut fugit accusantium labore, reiciendis assumenda sit ipsam ipsum aliquam!</p>
						{% endif %}
					</div>
					<div class="col-5 d-flex justify-content-center align-items-end">
						<div class="d-grid  text-center ">
							<a class="btn" href="{{path('annonceModif')}}" style="background-color: #009C9F; color:white">Vendre un produit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-3 bg-white">
		<div class="row">
			<div class="col-6 container-blanc d-flex align-items-start p-4">
				<div class="row ">
					<h3>Mes reservations</h3>
					<div class="col-12 switch-historique-reservation">	
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
							  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">En cours</button>
							  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Archivées</button>
							</div>
						</nav>
							<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
							<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-6 container-blanc d-flex align-items-start p-4">
				<div class="row ">
					<h3>Mes ventes</h3>
					<div class="col-12 switch-historique-ventes">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
							  <button class="nav-link active" id="actif1" data-bs-toggle="tab" data-bs-target="#nav-actif1" type="button" role="tab" aria-controls="nav-actif1" aria-selected="true">En cours</button>
							  <button class="nav-link" id="no-Actif1" data-bs-toggle="tab" data-bs-target="#nav-no-actif-1" type="button" role="tab" aria-controls="nav-no-actif-1" aria-selected="false">Archivées</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-actif1" role="tabpanel" aria-labelledby="actif1">
							{% if annonces %}			
								{% for annonce in annonces %}
									{% if annonce.actif == 1 %}
									<div class="row p-2">
										<div class="col-8">
											{{annonce.titre}}
											{{annonce.prix}}€
											{{annonce.description}}
											{% for image in annonce.images %}
											<img src="{{ asset('/uploads/'~image.nom) }}" alt="" width="150">
											{% endfor %}
										</div>

										<div class="col-2">
											<a class="btn btn-success" href="{{path('annonceModif', {'id':annonce.id}) }}">Modifier</a>
										</div>
										<div class="col-2">
											<a class="btn btn-danger"  href="{{path('annonceState', {'id':annonce.id,'state':'archiver'})}}">Archiver</a>
										</div>
									</div>
									<hr>
									
									{% endif %}
								{% endfor %}
							{% else %}
								<div class="col-2">
									Vous n'avez aucune annonce en cours
									<button class="btn btn-success " style="background-color: #009C9F; color:white">Vendre un produit</button>
								</div>
							{% endif %}
						</div>
						<div class="tab-pane fade" id="nav-no-actif-1" role="tabpanel" aria-labelledby="no-Actif1">
							{% for annonce in annonces %}
								{% if annonce.actif == 0 %}
									<div class="row p-2">
										<div class="col-8">										
											{{annonce.titre}}
											{{annonce.prix}}€
											{{annonce.description}}										
										</div>
										<div class="col-2">
											<a class="btn btn-success" href="{{path('annonceState', {'id':annonce.id, 'state':'reactiver'})}}">Réactiver</a>
										</div>
									</div>
									<hr>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- Modal de suppression -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="supprCompte" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="supprCompte">Suprimer mon compte</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Voulez vous vraiment supprimer votre compte ? Cela supprimera vos annonces et votre historique.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							<a href="{{path('supprCompte')}}">
								<button class="btn btn-danger">Supprimer</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>


{% endblock %}
