{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 bg-white">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0 p-2">
						<li class="breadcrumb-item">
							<a href="{{ path('accueil') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Compte</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-1">
		<h1>Mon compte</h1>
	</div>
	<div class="container mt-3 p-4 bg-white">
		<div class="row">
			<div class="col-12 col-lg-3 d-flex flex-column align-items-center justify-content-center">
				<img src='{{asset('/images/unnamed.jpg') }}' alt="" class="rounded-circle" style="width: 150px; height: 150px;">
				<h3>{{app.user.pseudo}}</h3>
			</div>
			<!-- INFO USER -->
			<div class="col-12 col-lg-4">
				{% if app.user.nom and app.user.prenom  %}
					<h3>{{app.user.nom}}
						{{app.user.prenom}}</h3>
				{% else %}
					<h3>{{app.user.pseudo}}</h3>
				{% endif %}
				<h5>{{app.user.email}}</h5>
				{% if app.user.description %}
					<p style="color: #CACACA;">{{app.user.description}}</p>
				{% else %}
					<p style="color: #CACACA;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta aspernatur, maxime quidem enim commodi quaerat magnam laudantium tempore sint dolores ut fugit accusantium labore, reiciendis assumenda sit ipsam ipsum aliquam!</p>
				{% endif %}
			</div>

			<!-- INFO VENTES -->

			<div class="col-12 col-lg-4 d-flex flex-column align-items-center justify-content-center">


				{% set annonceActif = [] %}
				{% set annonceNoActif = [] %}
				{% set reservationActif = [] %}


				{% for annonce in annonces %}
					{% if annonce.actif %}
						{% set annonceActif = annonceActif|merge([annonce.actif|length]) %}
					{% else %}
						{% set annonceNoActif = annonceNoActif|merge([annonce.actif|length]) %}
					{% endif %}
				{% endfor %}
				{% for transaction in transactions %}
					{% set annonce = transaction.idannonce.transaction.idannonce %}
					{% set reservationActif = reservationActif|merge([annonce.actif|length]) %}
				{% endfor %}

				<span class="text-muted mb-1">
					<span style="color: #009C9F; font-weight: bold;">{{annonceActif|length}}
					</span>Annonce{{ annonceActif|length > 1 ? "s" }}
					en cours</span>
				<span class="text-muted mb-1">
					<span style="color: #009C9F; font-weight: bold;">{{annonceNoActif|length}}</span>
					Annonce{{ annonceNoActif|length > 1 ? "s" }}
					archivée{{ annonceNoActif|length > 1 ? "s" }}</span>
				<span class="text-muted mb-1">
					<span style="color: #009C9F; font-weight: bold;">{{reservationActif|length}}</span>
					Réservation{{ reservationActif|length > 1 ? "s" }}
					en cours</span>

				<span class="mt-4">
					<a class="btn" href="{{path('annonceModif')}}" style="background-color: #009C9F; color:white">Vendre un produit</a>
				</span>


			</div>

			{# DROPDOWN ACTION USER #}
			<div class="col-1 d-flex justify-content-end">
				<li class="nav-item dropdown" style=" list-style-type: none;">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span style="font-size: 24px; color: rgb(219, 219, 219);">
							<i class="fas fa-cogs"></i>
						</span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{path('userModif')}}">
								<i class="fas fa-pen"></i>
								Modifier mes informations</a>
						</li>
						<li>
							<a class="dropdown-item " data-bs-toggle="modal" data-bs-target="#exampleModal">
								<i class="fas fa-trash-alt"></i>
								Supprimer mon compte</a>
						</li>
						<li>
							<a class="dropdown-item" href="">
								<i class="far fa-comment"></i>
								Contacter le support</a>
						</li>
					</ul>
				</li>
			</div>
		</div>
	</div>
	<div class="container mt-3 bg-white">
		<div class="row">
			<div class="col-lg-6 col-12 container-blanc d-flex align-items-start p-4">
				<div class="row ">
					<h3 class="mb-4">
						<i class="fas fa-angle-double-down text-dark  fa-lg me-1"></i>
						Mes reservations</h3>
					<div class="col-12 switch-historique-reservation">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">En cours</button>
								<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Archivées</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
								{% if transactions|length != 0 %}
									{% for transaction in transactions %}
										{% set annonce = transaction.idannonce.transaction.idannonce %}
										{% set imgUrl = null %}
										{% if annonce.actif == 1 %}
											<div class="row p-2 mt-2 jq-hover" id="{{transaction.id}}">
												<div
													class="col-lg-3 col-12">
													<!-- Fait en sorte de récupérer que la 1ere photo du tableau pour l'afficher  -->
													{% for image in annonce.images %}
														{% if image.presentation %}
															{% set imgUrl = image.nom %}
														{% endif %}
													{% endfor %}
													{% if imgUrl != null %}
														<img style="width: 120px; height: 120px;" class="rounded-3 float-left img-fluid" src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'annonce {{ annonce.titre }}"/>
													{% endif %}
												</div>
												<div class="col-lg-5 col-12">
													<p class="d-flex justify-content-between">
														<span style=" font-weight: bold; font-size: 1.2em; ">
															{{annonce.titre}}
														</span>
														<span style="color:#009C9F; font-weight: bold; font-size: 1.2em; ">
															{{annonce.prix}}€
														</span>
													</p>
													<p class="text-muted">{{annonce.description|length > 50 ? annonce.description|slice(0, 50) ~ '...' : annonce.description}}</p>
												</div>
												<div class="col-lg-4 col-12 d-flex flex-lg-column align-self-center">
													<a class="btn btn-success m-1 " href="{{path('annonceModif', {'id':annonce.id}) }}">Modifier</a>
													<a class="btn btn-danger m-1" href="{{path('annonceState', {'id':annonce.id,'state':'archiver'})}}">Archiver</a>
												</div>
											</div>
											<hr>
										{% endif %}
									{% endfor %}
								{% else %}
									<span class="d-flex  justify-content-center align-items-center border  border-dark  mt-3 p-2 py-4 rounded row">
										<div class="col-12 d-flex  justify-content-center mb-1">
											<i class="fas fa-exclamation fa-2x" style="color:#009C9F;"></i>
										</div>
										<div class="col-12 text-muted d-flex  justify-content-center">
											Vous n'avez pas de réservations
										</div>
									</span>
								{% endif %}
							</div>
							<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-12 container-blanc d-flex align-items-start p-4">
				<div class="row">
					<h3 class="mb-4">
						<i class="fas fa-angle-double-up  fa-lg me-1" style="color:#009C9F;"></i>
						Mes annonces</h3>
					<div class="col-12 switch-historique-ventes">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<button class="nav-link active" id="actif1" data-bs-toggle="tab" data-bs-target="#nav-actif1" type="button" role="tab" aria-controls="nav-actif1" aria-selected="true">En cours</button>
								<button class="nav-link" id="no-Actif1" data-bs-toggle="tab" data-bs-target="#nav-no-actif-1" type="button" role="tab" aria-controls="nav-no-actif-1" aria-selected="false">Archivées</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-actif1" role="tabpanel" aria-labelledby="actif1">

								{% if annonceActif|length != 0 %}
									{% for annonce in annonces %}
										{% set imgUrl = null %}
										{% if annonce.actif == 1 %}
											<div class="row p-2 mt-2 jq-hover" id="{{annonce.id}}">
												<div
													class="col-lg-3 col-12">
													<!-- Fait en sorte de récupérer que la 1ere photo du tableau pour l'afficher  -->
													{% for image in annonce.images %}
														{% if image.presentation %}
															{% set imgUrl = image.nom %}
														{% endif %}
													{% endfor %}
													{% if imgUrl != null %}
														<img style="width: 120px; height: 120px;" class="rounded-3 float-left img-fluid" src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'annonce {{ annonce.titre }}"/>
													{% endif %}
												</div>
												<div class="col-lg-5 col-12">
													<p class="d-flex justify-content-between">
														<span style=" font-weight: bold; font-size: 1.2em; ">
															{{annonce.titre}}
														</span>
														<span style="color:#009C9F; font-weight: bold; font-size: 1.2em; ">
															{{annonce.prix}}€
														</span>
													</p>
													<p class="text-muted">{{annonce.description|length > 50 ? annonce.description|slice(0, 50) ~ '...' : annonce.description}}</p>
												</div>
												<div class="col-lg-4 col-12 d-flex flex-lg-column align-self-center jq-hide-buttons">
													<a class="btn btn-success m-1" href="{{path('annonceModif', {'id':annonce.id}) }}">Modifier</a>
													<a class="btn btn-danger m-1" href="{{path('annonceState', {'id':annonce.id,'state':'archiver'})}}">Archiver</a>
												</div>
											</div>
											<hr>
										{% endif %}
									{% endfor %}
								{% else %}
									<span class="d-flex  justify-content-center align-items-center border border-dark mt-3 p-2 py-4 rounded row">
										<div class="col-12 d-flex  justify-content-center mb-1">
											<i class="fas fa-exclamation fa-2x" style="color:#009C9F;"></i>
										</div>
										<div class="col-12 text-muted d-flex  justify-content-center">
											Vous n'avez pas d'annonces en cours
										</div>
										<div class="col-12 text-muted d-flex  justify-content-center mt-3">
											<a class="btn" href="{{path('annonceModif')}}" style="background-color: #009C9F; color:white">Vendre un produit</a>
										</div>
									</span>
								{% endif %}
							</div>
							<div class="tab-pane fade" id="nav-no-actif-1" role="tabpanel" aria-labelledby="no-Actif1">
								{% if annonceNoActif|length != 0 %}
									{% for annonce in annonces %}
										{% set imgUrl = null %}
										{% if annonce.actif == 0 %}
											<div class="row p-2 mt-2 jq-hover" id="{{annonce.id}}">
												<div
													class="col-lg-3 col-12">
													<!-- Fait en sorte de réuprer que la 1ere photo du tableau pour l'afficher  -->
													{% for image in annonce.images %}
														{% if image.presentation %}
															{% set imgUrl = image.nom %}
														{% endif %}
													{% endfor %}
													{% if imgUrl != null %}
														<img style="width: 120px; height: 120px;" class="rounded-3 float-left img-fluid" src="{{ asset('/uploads/'~imgUrl) }}" alt="Image de l'annonce {{ annonce.titre }}"/>
													{% endif %}
												</div>
												<div class="col-lg-5 col-12">
													<p class="d-flex justify-content-between">
														<span style=" font-weight: bold; font-size: 1.2em; ">
															{{annonce.titre}}
														</span>
														<span style="color:#009C9F; font-weight: bold; font-size: 1.2em; ">
															{{annonce.prix}}€
														</span>
													</p>
													<p class="text-muted">{{annonce.description|length > 50 ? annonce.description|slice(0, 50) ~ '...' : annonce.description}}</p>
												</div>
												<div class="col-lg-4 col-12 d-flex flex-column align-self-center">
													<a class="btn btn-success" href="{{path('annonceState', {'id':annonce.id, 'state':'reactiver'})}}">Réactiver</a>
												</div>
											</div>
											<hr>

										{% endif %}
									{% endfor %}
								{% else %}
									<span class="d-flex  justify-content-center align-items-center border border-dark mt-3 p-2 py-4 rounded row">
										<div class="col-12 d-flex  justify-content-center mb-1">
											<i class="fas fa-exclamation fa-2x" style="color:#009C9F;"></i>
										</div>
										<div class="col-12 text-muted d-flex  justify-content-center">
											Vous n'avez pas d'annonces archivées
										</div>
									</span>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- Modal de suppression -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="supprCompte" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="supprCompte">Suprimer mon compte</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Voulez vous vraiment supprimer votre compte ? Cela supprimera vos annonces et votre historique.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
								<a href="{{path('supprCompte')}}">
									<button class="btn btn-danger">Supprimer</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
