{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}

	<h1>Mon compte</h1>
	<div class="container  mt-5 container-blanc p-4">
		<div class="row">
			<div class="col-3 d-flex align-items-center justify-content-center"></div>
			<div class="col-9  ">
				<div class="row ">
					<div class="col-11 d-flex justify-content-start info-container " data-bs-placement="left">
						<div class="col-3">
							{% if app.user.nom and app.user.prenom  %}
								<h3>{{app.user.nom}}
									{{app.user.prenom}}</h3>
							{% else %}
								<h3>{{app.user.pseudo}}</h3>
							{% endif %}
						</div>
						<div
							class="col-5">
							<!-- Ma condition est pourrie, a changer -->
							{% if app.user.note  %}
								<span style="font-size: 24px; color: #009C9F;">
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
								</span>
							{% else %}
								<span style="font-size: 24px; color: #009C9F;">
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
								</span>
							{% endif %}
						</div>
					</div>
					<div class="col-1 d-flex justify-content-end option-compte">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span style="font-size: 24px; color: rgb(219, 219, 219);">
									<i class="fas fa-cogs"></i>
								</span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('userModif')}}">
										<i class="fas fa-pen"></i>
										Modifier mes informations</a>
								</li>
								<li>
									<a class="dropdown-item " data-bs-toggle="modal" data-bs-target="#exampleModal">
										<i class="fas fa-trash-alt"></i>
										Supprimer mon compte</a>
								</li>
								<li>
									<a class="dropdown-item" href="">
										<i class="far fa-comment"></i>
										Contacter le support</a>
								</li>
							</ul>
						</li>
					</div>
				</div>
				<div class="row">
					<h5>{{app.user.email}}
					</h5>
				</div>
				<div class="row">
					<div class="col-6">
						{% if app.user.description %}
							<p style="color: #CACACA;">{{app.user.description}}</p>
						{% else %}
							<p style="color: #CACACA;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta aspernatur, maxime quidem enim commodi quaerat magnam laudantium tempore sint dolores ut fugit accusantium labore, reiciendis assumenda sit ipsam ipsum aliquam!</p>
						{% endif %}
					</div>
					<div class="col-5 d-flex justify-content-center align-items-end">
						<div class="d-grid  text-center ">
							<a class="" href="{{path('annonceModif')}}" style="background-color: #009C9F; color:white" type="button">Vendre un produit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-3">
		<div class="row">
			<div class="col-6 container-blanc d-flex align-items-start p-4">
				<div class="row ">
					<h3>Mes reservations</h3>
					<div class="col-12 switch-historique-reservation">
						<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link jq-switch-actif active " id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">
									<span>
										<i class="fas fa-check"></i>
									</span>
									<span>
									</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link jq-switch-archive" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">
									<span>
										<i class="fas fa-check"></i>
									</span>
									<span>Archivées</span>
								</a>
							</li>
						</ul>
						<div class="tab-content" id="ex1-content">
							<div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
								Tab 1 content
							</div>
							<div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
								Tab 2 content
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 container-blanc d-flex align-items-start p-4">
				<div class="row ">
					<h3>Mes ventes</h3>
					<div class="col-12 switch-historique-ventes">
						<ul class="nav nav-tabs mb-3" id="ex-2" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active jq-switch-actif2" id="ex-2-tab-1" data-mdb-toggle="tab" href="#ex-2-tabs-1" role="tab" aria-controls="ex-2-tabs-1" aria-selected="true">
									<span>
										<i class="fas fa-check"></i>
									</span>
									<span>En cours</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link jq-switch-archive2" id="ex-2-tab-2" data-mdb-toggle="tab" href="#ex-2-tabs-2" role="tab" aria-controls="ex-2-tabs-2" aria-selected="false">
									<span>
										<i class="fas fa-check"></i>
									</span>
									<span>
										Archivées</span>
								</a>
							</li>
						</ul>
						<div class="tab-content p-3" id="ex-2-content">
							<div class="tab-pane fade show active" id="ex-2-tabs-1" role="tabpanel" aria-labelledby="ex-2-tab-1">
								{% if annonces %}
								
								{% for annonce in annonces %}
								{% if annonce.actif == 1 %}
								<div class="row p-2">
									<div class="col-8">
										
										
										{{annonce.titre}}

										{{annonce.prix}}€

										{{annonce.description}}
										
									</div>
									<div class="col-2">
										<a class=" btn-success" href="{{path('annonceModif', {'id':annonce.id}) }}">Modifier</a>
									</div>
									<div class="col-2">
										<button class="btn btn-danger">Archiver</button>
									</div>
								</div>
								<hr>
								
								{% endif %}
								{% endfor %}
								{% else %}
								<div class="col-2">
									Vous n'avez aucune annonce en cours
									<button class="btn" style="background-color: #009C9F; color:white" type="button">Vendre un produit</button>
								</div>

								{% endif %}
							</div>
							<div class="tab-pane fade" id="ex-2-tabs-2" role="tabpanel" aria-labelledby="ex-2-tab-2">
								{% for annonce in annonces %}
								{% if annonce.actif == 0 %}
								<div class="row p-2">
									<div class="col-8">
										
										
										{{annonce.titre}}

										{{annonce.prix}}€

										{{annonce.description}}
										
									</div>
									<div class="col-2">
										<button class="btn btn-success">Réactiver</button>
									</div>
								</div>
								<hr>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal de suppression -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="supprCompte" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="supprCompte">Suprimer mon compte</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Voulez vous vraiment supprimer votre compte ? Cela supprimera vos annonces et votre historique.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							<a href="{{path('supprCompte')}}">
								<button class="btn btn-danger">Supprimer</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
